﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

    <title>Hotel</title>

    <script src="~/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>


    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/imgs/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                        <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                        <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                        <li><a href="@Url.Action((string)ViewBag.log, "Home") ">@ViewBag.logbtn</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <center>
        <h4 style='box-sizing: border-box; font-family: proximanova-regular, sans-serif; font-weight: 500; line-height: 1.1; color: rgb(183, 151, 91); margin: 0px; font-size: 18px; padding: 0px; width: 480px; background: url("/images/bg-line.png") center center repeat-x; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;'><span style="box-sizing: border-box; background: rgb(255, 255, 255); padding: 0px 10px; font-weight: 500; font-family: proximanova-regular, sans-serif; font-size: 12px; text-transform: uppercase;">ABOUT US</span></h4>
        <h2 style="box-sizing: border-box; font-family: Cinzel, serif !important; font-weight: 400; line-height: 1.1; color: rgb(183, 151, 91); margin: 0px; font-size: 30px; padding: 25px 0px; border-bottom: 1px solid rgb(185, 159, 119); width: 480px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial;">Discover a hotel that defines<br style="box-sizing: border-box;">a new dimension of luxury.</h2><p><br></p>
        <ul data-min="3" style="box-sizing: border-box; margin: 0px 0px 20px; padding: 0px; color: rgb(17, 17, 17); font-family: proximanova-regular, sans-serif; font-size: 15.6px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;"><li style="box-sizing: border-box; list-style-type: none; color: rgb(97, 97, 97); text-transform: none; font-size: 16px; font-family: Raleway, sans-serif; font-weight: 500; padding: 3px 0px; margin-bottom: 15px;">The story of Lavish Hotel Colombo which opened its doors in 2010 is a splendid tale of continual improvement of product and the highest standards of quality in hospitality.</li><li style="box-sizing: border-box; list-style-type: none; color: rgb(97, 97, 97); text-transform: none; font-size: 16px; font-family: Raleway, sans-serif; font-weight: 500; padding: 3px 0px; margin-bottom: 15px;">Having embraced over 3 decades of expertise in hospitality our vision and beliefs are firmly grounded in extending a true personalized service to all our guests, laced with an unforgettable luxury hotel experience.</li><li style="box-sizing: border-box; list-style-type: none; color: rgb(97, 97, 97); text-transform: none; font-size: 16px; font-family: Raleway, sans-serif; font-weight: 500; padding: 3px 0px; margin-bottom: 0px;">The brand has enticed many elite personalities from around the world including heads of government, prime ministers of leading nations, royalty, well known sports and entertainment personalities and many more.<img src="~/img/dining/dining-img2.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fil"><img src="~/img/dining/dining-img.jpg" style="width: 300px;" class="fr-fic fr-dib fr-fir"></li></ul><p style="text-align: center;">
    </center><span style="color: rgb(251, 160, 38); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;">
        Places to See
    </span><span style="color: rgb(251, 160, 38);">&nbsp;</span></p>
    <table style="width: 100%;"><tbody><tr><td style="width: 100.0000%;"><table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-spacing: 0px; border-collapse: collapse; background-color: rgb(255, 255, 255); color: rgb(17, 17, 17); font-family: proximanova-regular, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; font-size: 12px;"><tbody style="box-sizing: border-box;"><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Galle Face Green</td><td style="box-sizing: border-box; padding: 7px;" width="663">A wide expanse of green facing the Indian Ocean that is ideal for picnics and other outdoor activities<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Dutch Hospital</td><td style="box-sizing: border-box; padding: 7px;" width="663">Coincided to be the oldest building in the Colombo Fort area dating back to the Dutch colonial era. It is now a heritage building and a shopping and dining precinct.<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Royal Colombo Golf Club</td><td style="box-sizing: border-box; padding: 7px;" width="663">Second oldest Royal Golf Club outside the United Kingdom which was founded over 130 years ago<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Independence Square</td><td style="box-sizing: border-box; padding: 7px;" width="663">A national monument built for commemoration of the independence of Sri Lanka reflecting distinct Sri Lankan architecture<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">National Museum</td><td style="box-sizing: border-box; padding: 7px;" width="663">A rich reservoir of ancient relics dating back when texts were written on palm leaves<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Pettah</td><td style="box-sizing: border-box; padding: 7px;" width="663">A commercial district with streets well-known for selling clothing, electronics, and limitless knickknacks at very affordable prices<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">The Fort</td><td style="box-sizing: border-box; padding: 7px;" width="663">Housing offices, shops and hotels, some of which exuding old world charm with colonial architecture<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Gangarama Temple</td><td style="box-sizing: border-box; padding: 7px;" width="663">A picturesque temple comprising the best of architecture which has been in existence for over 120 years<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Viharamahadevi Park</td><td style="box-sizing: border-box; padding: 7px;" width="663">The city&#39;s largest park, luring visitors with its beautiful landscape<br style="box-sizing: border-box;"></td></tr><tr style="box-sizing: border-box; border: 1px solid black;"><td style="box-sizing: border-box; padding: 0px; border: 1px solid black;" width="64">Kelaniya Raja Maha Vihara</td><td style="box-sizing: border-box; padding: 7px;" width="663">A famous Buddhist temple which serves as a venue for a religious procession</td></tr></tbody></table><br></td></tr></tbody></table>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/img/imgs/l1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    Copyright &copy;
                                    <a>
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About Lavish</a></li>
                                    <li><a href="#">Our Best Rooms</a></li>
                                    <li><a href="#">Hall Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Reservations</h4>
                                <ul>
                                    <li><a href="#">Tel: 0112707694</a></li>
                                    <li><a href="#">Skype: Lavishbooking</a></li>
                                    <li><a href="#">reservations@lavish.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li><a href="#">198 west 21th Street,</a></li>
                                    <li><a href="#">Colombo 6</a></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/img/imgs/form-iocn.jpg" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>