﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>contact form</title>
        <style>
            #fcf-form {
                display: block;
            }

            .fcf-body {
                margin: 0;
                font-family: -apple-system, Arial, sans-serif;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                text-align: left;
                background-color: #fff;
                padding: 30px;
                padding-bottom: 10px;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                max-width: 100%;
            }

            .fcf-form-group {
                margin-bottom: 1rem;
            }

            .fcf-input-group {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-align: stretch;
                align-items: stretch;
                width: 100%;
            }

            .fcf-form-control {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                outline: none;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }

                .fcf-form-control:focus {
                    border: 1px solid #313131;
                }

            select.fcf-form-control[size], select.fcf-form-control[multiple] {
                height: auto;
            }

            textarea.fcf-form-control {
                font-family: -apple-system, Arial, sans-serif;
                height: auto;
            }

            label.fcf-label {
                display: inline-block;
                margin-bottom: 0.5rem;
            }

            .fcf-credit {
                padding-top: 10px;
                font-size: 0.9rem;
                color: #545b62;
            }

                .fcf-credit a {
                    color: #545b62;
                    text-decoration: underline;
                }

                    .fcf-credit a:hover {
                        color: #0056b3;
                        text-decoration: underline;
                    }

            .fcf-btn {
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }



                .fcf-btn:hover {
                    color: #212529;
                    text-decoration: none;
                }

                .fcf-btn:focus, .fcf-btn.focus {
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

            .fcf-btn-primary {
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
            }

                .fcf-btn-primary:hover {
                    color: #fff;
                    background-color: #0069d9;
                    border-color: #0062cc;
                }

                .fcf-btn-primary:focus, .fcf-btn-primary.focus {
                    color: #fff;
                    background-color: #0069d9;
                    border-color: #0062cc;
                    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
                }

            .fcf-btn-lg, .fcf-btn-group-lg > .fcf-btn {
                padding: 0.5rem 1rem;
                font-size: 1.25rem;
                line-height: 1.5;
                border-radius: 0.3rem;
            }

            .fcf-btn-block {
                display: block;
                width: 100%;
            }

                .fcf-btn-block + .fcf-btn-block {
                    margin-top: 0.5rem;
                }

            input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
                width: 100%;
            }
        </style>
        <title>Hotel</title>

        <script src="~/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

        <script src="~/bootstrap/js/popper.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>

        <!-- Jquery Mobile Menu -->
        <script src="~/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="~/js/gijgo.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/animated.headline.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="~/js/jquery.scrollUp.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="~/js/contact.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="~/js/plugins.js"></script>
        <script src="~/js/main.js"></script>


        <!-- CSS here -->
        <link rel="stylesheet" href="~/css/bootstrapss.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/gijgo.css">
        <link rel="stylesheet" href="~/css/slicknav.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/styles.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    </head>

    <body>
        <header>
            <!-- Header Start -->
            <div class="header-area header-sticky">
                <div class="main-header ">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="~/img/imgs/m1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <!-- main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                            <li>
                                                <a href="#">Reservation</a>
                                                <ul class="submenu">
                                                    <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                    <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                            <li><a href="@Url.Action("ContactUs", "Home") ">Contact Us</a></li>
                                            <li><a href="                                 ">FAQ</a></li>
                                            <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>


                                            <li><a href="@Url.Action("Home", "Home") ">@ViewBag.login</a></li>
                                            <li><a href="@Url.Action("LoginUser", "Home") ">Login</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
        <center>
            <div class="col-md-6">
                @{ Html.BeginForm("Contact", "Home", FormMethod.Post);
                }

                <link href="contact-form.css" rel="stylesheet">

                <div class="fcf-body">


                    <div id="fcf-form">
                        <h3 class="fcf-h3">Contact us</h3>

                        <form id="fcf-form-id" class="fcf-form-class">

                            <div class="fcf-form-group">
                                <label for="Name" class="fcf-label">Your name</label>
                                <div class="fcf-input-group">
                                    <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                                </div>
                            </div>

                            <div class="fcf-form-group">
                                <label for="Email" class="fcf-label">Your email address</label>
                                <div class="fcf-input-group">
                                    <input type="email" id="Email" name="Email" class="fcf-form-control" required>
                                </div>
                            </div>

                            <div class="fcf-form-group">
                                <label for="Message" class="fcf-label">Your message</label>
                                <div class="fcf-input-group">
                                    <input type="text" id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000" required></input>
                                </div>
                            </div>

                            <div class="fcf-form-group">
                                <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </center>
        @{Html.EndForm();
        }
        <footer>
            <!-- Footer Start-->
            <div class="footer-area black-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <img src="~/img/imgs/l1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                                <div class="footer-social footer-social2">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                                <div class="footer-pera">
                                    <p>
                                        Copyright &copy;
                                        <a>
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About Lavish</a></li>
                                        <li><a href="#">Our Best Rooms</a></li>
                                        <li><a href="#">Hall Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Reservations</h4>
                                    <ul>
                                        <li><a href="#">Tel: 0112707694</a></li>
                                        <li><a href="#">Skype: Lavishbooking</a></li>
                                        <li><a href="#">reservations@lavish.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Our Location</h4>
                                    <ul>
                                        <li><a href="#">198 west 21th Street,</a></li>
                                        <li><a href="#">Colombo 6</a></li>
                                    </ul>
                                    <!-- Form -->
                                    <div class="footer-form">
                                        <div id="mc_embed_signup">
                                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                                  method="get" class="subscribe_form relative mail_part">
                                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                       onblur="this.placeholder = ' Email Address '">
                                                <div class="form-icon">
                                                    <button type="submit" name="submit" id="newsletter-submit"
                                                            class="email_icon newsletter-submit button-contactForm">
                                                        <img src="~/img/imgs/form-iocn.jpg" alt="">
                                                    </button>
                                                </div>
                                                <div class="mt-10 info"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
    </body>
    