﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }


        .img {
            height: 500px;
            width: 870px;
        }
    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/logo/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                        <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                        <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                        <li><a href="@Url.Action((string)ViewBag.log, "Home") ">@ViewBag.logbtn</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <div id="container">
        <br />
        <br />
        <h1 style="margin-left:40%;">Lotus Hall Reservation</h1>
        <center>
            <img src="~/img/halls/Lotushall.jpg" class="img" />
        </center>
        <br />
        <br />

        @{ Html.BeginForm("Reserve2", "Home", FormMethod.Post);
        }
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <label style="font-size:20px"><b>Description</b></label>
                                    <p>Lotus Hall is a moderate spacious hall with a capacity of 1500, with indoor and outdoor facilities, a large parking area, rooms with air conditioning, provision for catering, and kitchens for vegetarian and non-vegetarian menus. This venue is one of the most well recognised enterprise in the vicinity in terms of their deliverance and stride to provide maximum customer satisfaction.</p>
                                    <label style="font-size:20px"><b>Hall Info</b></label>

                                    <table style="width:100%">

                                        <tr>
                                            <th>Features</th>
                                            <th>Availability</th>

                                        </tr>

                                        <tr>
                                            <td>Capacity</td>
                                            <td>1500 guests<br /></td>

                                        </tr>
                                        <tr>
                                            <td>Buffet</td>
                                            <td> Available</td>
                                        </tr>
                                        <tr>
                                            <td> Floor Lighting</td>
                                            <td>
                                                Control-in-room chandeliers<br />
                                                Curved wall-hangers<br />
                                                Colored spot lights for buffet table, cake table & oil lamps.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Air condtioners info</td>
                                            <td> Well equipped with BTU 120,000 capacity Air conditioners.</td>
                                        </tr>
                                        <tr>
                                            <td>Sound system info</td>
                                            <td>Suuround Bose banquet hall and ballroom multi-zone sound system.</td>
                                        </tr>
                                        <tr>
                                            <td>Changing room availiabilty</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Washrooms availabilty</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Bar availabilty</td>
                                            <td>&#9989;</td>
                                        </tr>


                                    </table>
                                    <hr />
                                    <br />
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <button class="btn btn-primary" id="demo" name="signup" onclick="demobtn()" style="background-color:purple">DEMO</button>

                                            </div>
                                        </div>
                                    </div>
                                    <label style="font-size:20px"><b>Enter the reservation details below</b></label><br />
                                    <label>Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" value="@ViewBag.name" aria-describedby="emailHelp" placeholder="Name">
                                    </div>
                                    <label>Email</label>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" value="@ViewBag.email" aria-describedby="emailHelp" placeholder="email" @ViewBag.setreadonly>
                                    </div>
                                    <label>Required Date</label>
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="checkoutdate" name="Required_date" required>
                                    </div>
                                    <label>Price</label><br />
                                    <label style="font-size:20px"><b>Rs.45000/=</b></label><br />
                                    <hr />
                                    <input type="text" name="pay_type" id="pay_type" value=" " style="display:none;" />
                                    <br>

                               

                                <div class="form-check">
                                    <br />  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                    <label class="form-check-label" required for="exampleCheck1">I have read and accept the<b> terms and conditions</b></label>
                                </div><br />
                                <div class="form-group">
                                    <input type="submit" class="button" name="pay_type1" onclick="setpayment('Online payment')" value="Online Payment" />

                                    <input type="submit" class="button" name="pay_type1" onclick="setpayment('Arrival payment')" value="Arrival Payment" />
                                </div>

                            </div>
                            </div>
                        </div>.
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script>
        function demobtn() {
            document.getElementById("name").value = "Vidura";

            document.getElementById("checkoutdate").value = "2020-10-18";
            calcdays();

        }
        function setpayment(m) {
            document.getElementById("pay_type").value = m;
        }

            

    </script>

        <footer>
            <!-- Footer Start-->
            <div class="footer-area black-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <img src="~/img/logo/l1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                                <div class="footer-social footer-social2">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                                <div class="footer-pera">
                                    <p>
                                        Copyright &copy;
                                        <a>
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About Lavish</a></li>
                                        <li><a href="#">Our Best Rooms</a></li>
                                        <li><a href="#">Hall Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Reservations</h4>
                                    <ul>
                                        <li><a href="#">Tel: 0112707694</a></li>
                                        <li><a href="#">Skype: Lavishbooking</a></li>
                                        <li><a href="#">reservations@lavish.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Our Location</h4>
                                    <ul>
                                        <li><a href="#">198 west 21th Street,</a></li>
                                        <li><a href="#">Colombo 6</a></li>
                                    </ul>
                                    <!-- Form -->
                                    <div class="footer-form">
                                        <div id="mc_embed_signup">
                                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                                  method="get" class="subscribe_form relative mail_part">
                                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                       onblur="this.placeholder = ' Email Address '">
                                                <div class="form-icon">
                                                    <button type="submit" name="submit" id="newsletter-submit"
                                                            class="email_icon newsletter-submit button-contactForm">
                                                        <img src="~/img/logo/form-iocn.jpg" alt="">
                                                    </button>
                                                </div>
                                                <div class="mt-10 info"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
</body>
@{Html.EndForm();
}
