﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>

    <title>Hotel</title>

    <script src="~/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>


    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/logo/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                        <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                        <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                        <li><a href="@Url.Action((string)ViewBag.log, "Home") ">@ViewBag.logbtn</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- slider Area Start-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/halls/ho1.jpg" class="d-block w-100" alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h1 data-animation="fadeInUp" data-delay=".4s">Top hotel in the city</h1>
                    <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Restaurant</h3>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="~/img/halls/back1.jpg" class="d-block w-100" alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h1 data-animation="fadeInUp" data-delay=".4s">Top hotel in the city</h1>
                    <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Restaurant</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/halls/back2.jpg" class="d-block w-100" alt="Responsive image">
                <div class="carousel-caption d-none d-md-block">
                    <h1 data-animation="fadeInUp" data-delay=".4s">Top hotel in the city</h1>
                    <h3 data-animation="fadeInDown" data-delay=".4s">Hotel & Restaurant</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- slider Area End-->
    <!-- Make customer Start-->
    <section class="make-customer-area customar-padding fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="customer-img mb-120">
                        <img src="~/img/customer/customar1.png" class="customar-img1" alt="">
                        <img src="~/img/customer/customar2.png" class="customar-img2" alt="">
                        <div class="service-experience heartbeat">
                            <h3>10 Years of Service<br>Experience</h3>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-4 col-lg-4">
                    <div class="customer-caption">
                        <span>About our company</span>
                        <h2>Make the customer the hero of your story</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Make customer End-->
    <!-- Room Start -->
    <section class="room-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Our Rooms</h3>
                        </div>
                        <h3 class="archivment-back">Our Rooms</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Roomreserve", "Home") "><img src="~/img/rooms/room10.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Roomreserve", "Home") ">Standard</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>2000 <span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Roomreserve", "Home")" ><img src="~/img/rooms/room11.png" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Roomreserve", "Home")">Superior</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>3000<span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Roomreserve", "Home")"> <img src="~/img/rooms/room12.png" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Roomreserve", "Home")">Super Deluxe</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>3200 <span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room End -->
    <!-- Hall Start -->
    <section class="room-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Our Halls</h3>
                        </div>
                        <h3 class="archivment-back">Our Halls</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Hall 1 -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Hallreserve", "Home") "><img src="~/img/halls/b5.jpg" /></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Hallreserve", "Home") ">Orchid</a></h3>
                            <span><u>Rs</u>10000 </span>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Hall 2 -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Hallreserve", "Home") ">
                                <img src="~/img/halls/b2.jpg" />
                            </a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Hallreserve", "Home") ">Tulip</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>25000 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Hall 3 -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Hallreserve", "Home") ">
                                <img src="~/img/halls/b1.jpg" />
                            </a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Hallreserve", "Home") ">Lotus</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>10000 </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Room End -->
    <!-- Dining Start -->
    <div class="dining-area dining-padding-top">
        <!-- Single Left img -->
        <div class="single-dining-area left-img">
            <div class="container">

                <div class="row justify-content-end">

                    <div class="col-lg-8 col-md-8">

                        <div class="dining-caption">
                            <span>Our resturent</span>
                            <h3>Dining & Drinks</h3>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- single Right img -->
        <div class="single-dining-area right-img">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8 col-md-8">
                        <div class="dining-caption text-right">
                            <span>Our Pool</span>
                            <h3>Swimming Pool</h3>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dining End -->
    <!-- Gallery img Start-->
    <div class="gallery-area fix">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="gallery-active owl-carousel">
                        <div class="gallery-img">
                            <a href="#">
                                <img src="~/img/rooms/gallery1.jpg" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a href="#">
                                <img src="~/img/rooms/gallery2.jpg" />
                            </a>
                        </div>
                        <div class="gallery-img">
                            <a href="#">
                                <img src="~/img/rooms/gallery3.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery img End-->
    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/img/logo/l1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    Copyright &copy;
                                    <a>
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About Lavish</a></li>
                                    <li><a href="#">Our Best Rooms</a></li>
                                    <li><a href="#">Hall Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Reservations</h4>
                                <ul>
                                    <li><a href="#">Tel: 0112707694</a></li>
                                    <li><a href="#">Skype: Lavishbooking</a></li>
                                    <li><a href="#">reservations@lavish.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li><a href="#">198 west 21th Street,</a></li>
                                    <li><a href="#">Colombo 6</a></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/img/logo/form-iocn.jpg" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>