﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }






        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }


        .img {
            height: 500px;
            width: 870px;
        }
    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/logo/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                        <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                        <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                        <li><a href="@Url.Action((string)ViewBag.log, "Home") ">@ViewBag.logbtn</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <br />
    <section class="room-area">
        <div class="container">
            <center> <label style="font-size:30px"><b>Our Rooms</b></label></center>
            <p>Lavish Hotel is a perfect wedding destination of any size that wants to embrace luxury and natural beauty. The hotel boasts up to 12 stunning venues, indoor and outdoor, with the lakeside garden is the most desirable. Upon arriving, you’ll suddenly feel the tranquil ambience, and you’ll realize that you’re far from the hustle and bustle of the capital city. The feeling of a tropical breeze, natures at every corner, and the calming view of the lake will calm your heart and mind as you say sacred vow to your loved one.</p>
            <p><b>We have 3 types of luxury rooms available right now for you.</b></p><br />
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Room1", "Home") "><img src="~/img/rooms/room10.jpg" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Room1", "Home") ">Standard</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>1000 <span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Room2", "Home") "><img src="~/img/rooms/room11.png" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Room2", "Home") ">Superior</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>2000<span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <!-- Single Room -->
                    <div class="single-room mb-50">
                        <div class="room-img">
                            <a href="@Url.Action("Room3", "Home") "> <img src="~/img/rooms/room12.png" alt=""></a>
                        </div>
                        <div class="room-caption">
                            <h3><a href="@Url.Action("Room3", "Home") ">Super Deluxe</a></h3>
                            <div class="per-night">
                                <span><u>Rs</u>4000 <span>/ per night</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/img/logo/l1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    Copyright &copy;
                                    <a>
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About Lavish</a></li>
                                    <li><a href="#">Our Best Rooms</a></li>
                                    <li><a href="#">Hall Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Reservations</h4>
                                <ul>
                                    <li><a href="#">Tel: 0112707694</a></li>
                                    <li><a href="#">Skype: Lavishbooking</a></li>
                                    <li><a href="#">reservations@lavish.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li><a href="#">198 west 21th Street,</a></li>
                                    <li><a href="#">Colombo 6</a></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/img/logo/form-iocn.jpg" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>