﻿@using MyLodge.proj1.Controllers;
@model RoomReservationView;

@{ Html.BeginForm("UpdateRoom", "Home", FormMethod.Post);}
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }


        .img {
            height: 500px;
            width: 870px;
        }
    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body onload="calc()">

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/logo/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                        <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                        <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                        <li><a href="@Url.Action((string)ViewBag.log, "Home") ">@ViewBag.logbtn</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <hr />
    <div>
        <div id="container">
            <br />
            <br />
            <h1 style="margin-left:40%;">Superior Rooms Reservation</h1>
            <center>
                <img src="~/img/rooms/room11.png" class="img" />
            </center>
        </div>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    <label style="font-size:20px"><b>Description</b></label>
                                    <p>All our superior rooms are elegantly furnished with finest furniture include a table with chair,a telephone with direct dial,a mobile phone charger,a television,attached bathroom and the finest pure white linen and towels.</p>
                                    <label style="font-size:20px"><b>Room Info</b></label>

                                    <table style="width:100%">

                                        <tr>
                                            <th>Features</th>
                                            <th>Availability</th>

                                        </tr>
                                        <tr>
                                            <td>Air conditioner</td>
                                            <td><p>&#9989;<p></td>

                                        </tr>
                                        <tr>
                                            <td>Telephone</td>
                                            <td><p>&#9989;<p></td>

                                        </tr>
                                        <tr>
                                            <td>Table with chair</td>
                                            <td><p>&#9989;<p></td>

                                        </tr>
                                        <tr>
                                            <td>Mobile phone charging adapter</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Bathroom(including shower)</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Hand towel/Face towel</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Mini bar</td>
                                            <td><p>&#10060;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Television</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>
                                        <tr>
                                            <td>Hair dryers</td>
                                            <td><p>&#9989;<p></td>
                                        </tr>


                                    </table>
                                    <label style="font-size:20px"><b>Edit your reservation details below</b></label>
                                    <br />
                                    <label>Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="name" value="@Model.name" readonly>
                                    </div>
                                    <label>Email</label>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="email" value="@Model.email" readonly>
                                    </div>
                                    <label>Check-in-date</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="check_in" id="checkindate" oninput="calcdays()" value="@Model.check_in">
                                    </div>
                                    <label>Check-out-date</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="check_out" id="checkoutdate" oninput="calcdays()" value="@Model.check_out">
                                    </div>
                                    <div class="form-group">
                                        <p>No.Of.days :<input id="dates" name="days" class="form-control" type="text" oninput="calc()" value="@Model.days" /> </p>
                                        <p>Quantity of Rooms :<input id="quantity" name="rooms" class="form-control" type="text" oninput="calc()" value="@Model.rooms" /> </p>
                                        <!--<input type="text" class="form-control" id="quantity" " placeholder="Quantity of rooms" oninput="calc()" /> -->


                                        <p>Price Per Room : Rs.<span id="room_price">2000 per night</span></p>
                                        <p><b>Total Price : Rs.<span style="font-size:25px" id="total">0</span></b></p>
                                        <hr />
                                    </div>


                                    <div class="form-check">
                                        <br />  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                        <label class="form-check-label" required for="exampleCheck1">I have read and accept the<b> terms and conditions</b></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="button" name="submitButton" value="Update" />
                                        @{ Html.EndForm();}

                                        <input type="submit" class="button" name="submitButton" value="Cancel" />
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
    function RequestGallery() {
    var form = document.createElement("FORM");
    form.setAttribute("id", "faqForm");
    form.setAttribute("name", "faqForm");
    form.setAttribute("method", "POST");
    form.setAttribute("action", '@Url.Action("gallery1", "Home")');
    document.body.appendChild(form);
    document.faqForm.submit();
    }


        function calc() {
            var dates = document.getElementById("dates").value;
            var price = document.getElementById("room_price").innerHTML;
            var noTickets = document.getElementById("quantity").value;
          /*   var checkin = document.getElementById("checkindate").value;
            var checkout = document.getElementById("checkoutdate").value;
            var ci = new Date(checkin);
            var co = new Date(checkout);
            var ci = checkin.split("-");
            var co = checkout.split("-");
            var chi = parseInt(ci[0]) + parseInt(ci[1]) + parseInt(ci[2]);
            var che = parseInt(co[0]) + parseInt(co[1]) + parseInt(co[2]);
            var t = (co.getTime() - ci.getTime()) / (1000 * 3600 * 24);
            document.getElementById("dates");*/
           // alert("checkin: " + checkin + " checkout: " + checkout + " type: " + (t));
            var total = parseFloat(price) * noTickets * dates;
            if (!isNaN(total))
                document.getElementById("total").innerHTML = total
        }

        function calcdays() {
            var checkin = document.getElementById("checkindate").value;
            var checkout = document.getElementById("checkoutdate").value;
            var ci = new Date(checkin);
            var co = new Date(checkout);
            /*    var ci = checkin.split("-");
                var co = checkout.split("-");
                var chi = parseInt(ci[0]) + parseInt(ci[1]) + parseInt(ci[2]);
                var che = parseInt(co[0]) + parseInt(co[1]) + parseInt(co[2]);*/
            var t = (co.getTime() - ci.getTime()) / (1000 * 3600 * 24);
            document.getElementById("dates").value = t;
            calc();
        }

        </script>
        <footer>
            <!-- Footer Start-->
            <div class="footer-area black-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <img src="~/img/logo/l1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                                <div class="footer-social footer-social2">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                                <div class="footer-pera">
                                    <p>
                                        Copyright &copy;
                                        <a>
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About Lavish</a></li>
                                        <li><a href="#">Our Best Rooms</a></li>
                                        <li><a href="#">Hall Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Reservations</h4>
                                    <ul>
                                        <li><a href="#">Tel: 0112707694</a></li>
                                        <li><a href="#">Skype: Lavishbooking</a></li>
                                        <li><a href="#">reservations@lavish.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Our Location</h4>
                                    <ul>
                                        <li><a href="#">198 west 21th Street,</a></li>
                                        <li><a href="#">Colombo 6</a></li>
                                    </ul>
                                    <!-- Form -->
                                    <div class="footer-form">
                                        <div id="mc_embed_signup">
                                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                                  method="get" class="subscribe_form relative mail_part">
                                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                       onblur="this.placeholder = ' Email Address '">
                                                <div class="form-icon">
                                                    <button type="submit" name="submit" id="newsletter-submit"
                                                            class="email_icon newsletter-submit button-contactForm">
                                                        <img src="~/img/logo/form-iocn.jpg" alt="">
                                                    </button>
                                                </div>
                                                <div class="mt-10 info"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
</body>




