﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #ffffff;
            overflow-x: hidden;
        }

        .form2 {
            width: 670px;
            padding: 40px;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: #ffffff;
            text-align: left;
            color: black;
            border-style: groove;
            margin-bottom: 10%; 
            margin-top: 100px;
            margin-right: 20%;
            margin-left: 50px;
        }

            .form2 h1 {
                color: black;
                text-align: center;
            }

        div.font {
            font-size: 15px;
            font-family: Arial;
            font-weight: bold;
            color: #5c5c3d;
        }

        .form2 input[type= "text"], .form2 input[type= "password"], .form2 select {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            height: 39px;
            padding: 6px 10px;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/23px 'Raleway', sans-serif;
            color: #404040;
            
            -moz-appearance: none;
            -webkit-appearance: none;
        }

            .form2 input[type= "text"]:focus, .form2 input[type="password"]:focus {
                width: 100%;
                border-color: #119ee7;
            }


        <!-- .submit {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            width: 60px;
            outline: none;
            color: black;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
        }
        -->

        .btn {
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 200px;
            height: 55px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 240px;
        }

        <!-- .submit:hover {
            background: #2ecc71;
        }
        -->
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }
    </style>

    <title>Employee Registration</title>
</head>
<body>
    @{Html.BeginForm("Create_acc", "Home", FormMethod.Post);
    }
    <div class="form2">
        <form name="create" method="post" id="create">
            <h1>Employee Registration</h1>
            <hr>

            <h4>Login Information</h4>
            <div class="font"> Please enter your Employee ID as the username. Choose a password That is at least 5 characters long.</div><br><br><br>
            @*Employee ID<input type="text" placeholder="Employee ID" name="eid" value="" required><br>*@
            NIC Number<input type="text" placeholder="NIC" name="nic" value="" required><br>
            Full Name<input type="text" placeholder="Full Name" name="fname" value="" required><br>
            Address<input type="text" placeholder="Address" name="address" value="" required><br>

            <table>
                <tr>
                    <td>Email<input type="text" placeholder="Email" name="email" value="" required><br></td>
                    <td>Phone<input type="text" placeholder="Phone" name="phone" value="" required><br></td>
                </tr>
            </table>
            Feild of Work<input type="text" placeholder="Feild of work" name="feild_of_work" value="" required><br>


            <!--User Name<input type="text" placeholder="Username" name="username" value="" required><br>-->
            <table>
                <tr>
                    <td>Password<input type="password" placeholder="Password" name="password" value="" required><br></td>
                    <td>Confirm Password<input type="password" placeholder="Confirm Password" name="password" value="" required><br></td>
                </tr>
            </table>

            <input name="cookie" type="checkbox" id="cookie" value="1" required>
            <label for="cookie"></label>
            <span class="checkboxRequiredMsg"></span>

            <!--<style ="font-size:12px;"></style>-->
            I Agree to Cookie Usage Statement &amp; <a href="https://www.walkerstours.com/privacy-policy.html" target="new"> Privacy Policy</a>
            <!-- <div class="submit" > <input type="button" name="submit" value="REGISTER" > </div >-->
            <br><br> <button type="submit" name="Submit" class="btn button"> Register</button>
        </form>
    </div>

    <script>
    function SignUp() {
        var form = document.createElement("FORM");
        form.setAttribute("id", "create");
        form.setAttribute("name", "create");
        form.setAttribute("method", "POST");
        form.setAttribute("action", '@Url.Action("CreateAccount","Home", new { area = "Admin" })');
        document.body.appendChild(form);
        document.create.submit();
    }
    </script>
</body>
</html >
