﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.BeginForm(new { area = "Admin", controller = "CSM", action = "Dashboard" }))
{
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #ffffff;
        }

        .form3 {
            width: 520px;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 48%;
            transform: translate(-50%,-50%);
            background: #ffffff;
            text-align: left;
            color: black;
            border-style: groove;
            margin-bottom: 10%;
            margin-top: 100px;
            margin-right: 20%;
            margin-left: 40px;
        }

            .form3 h1 {
                color: black;
                text-align: center;
            }

        div.font2 {
            font-size: 15px;
            font-family: Arial;
            font-weight: bold;
            color: #5c5c3d;
        }

        .form3 input[type= "text"], .form3 input[type= "password"], .form3 select {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 80%;
            height: 39px;
            padding: 6px 10px;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/23px 'Raleway', sans-serif;
            color: #404040;
            -moz-appearance: none;
            -webkit-appearance: none;
            margin-left: 10%;
        }

            .form3 input[type= "text"]:focus, .form3 input[type="password"]:focus {
                width: 100%;
                border-color: #119ee7;
            }

        .btn {
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 200px;
            height: 55px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 155px;
        }

        .checkbox {
            margin-left: 160px;
        }

        .button {
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: black;
            width: 200px;
            height: 55px;
            border-radius: 4px;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 240px;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #119ee7;
            outline: none;
        }

            .button:hover {
                background: #119ee7;
            }

        .butt {
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 200px;
            height: 55px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 155px;
        }



        div.text2 {
            margin-left: 155px;
        }
    </style>
    <title>Employee Sign in</title>
</head>
<body style="overflow-x: hidden;">

    <div class="form3">
        <form action="log" method="post">
            <h1>Employee Login</h1>



            <!--<div class="font2"> Already have an account with us? Sign in below.<br> Don’t have an account with us? Click on the Register button to sign up</div><br><br><br>
                -->
            <br>

            <input type="text" placeholder="Employee ID" name="empId " value="" required><br>
            <input type="password" placeholder="Password" name="password" value="" required><br>
            <label class="checkbox"><input type="checkbox" checked="" name="remember"><i></i>Keep me logged in</label><br><br>
            <button class="butt" type="submit" name="submit">Log in</button>
            <br><br><hr><br>
            <div class="text2">Don't have an account yet?</div>
            <button class="button" type="submit" name="submit">Register</button>

        </form>

    </div>
</body>
</html>

}
