﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model EmployeeView;

<!--<table>
    <caption>Reserve</caption>
    <th>Name</th>

</table>-->
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <link rel="stylesheet" type="text/css" href="~/css/w3schools_slider.css">
    <style>



        #employeelist {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 60%;
            margin-left: 20%;
        }

            #employeelist td, #employeelist th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #employeelist tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #employeelist tr:hover {
                background-color: #ddd;
            }

            #employeelist th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #29a329;
                color: white;
            }

        .button {
            background-color: #996633;
            border: none;
            color: white;
            padding: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }

        #btn {
            font-size: 16px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 200px;
            height: 55px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 280px;
            margin-top: 100px;
        }
    </style>
</head>
<body style="background-color: beige;overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"","")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area = "Admin" })">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        <a href="@Url.Action("userpro", "Home", new { area = "Admin" })" id="rlink" style="display:none;"></a>
        <script>
            function reqList() {
                document.getElementById("rlink").click();
            }
        </script>
        <div class="nav-bar-btn-round">
            <button id="empList" onclick="reqList()">Employee List</button>
        </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">

        </div>
        <div class="nav-bar-triangle"></div>
    </div>

    <!--<h2>Table Caption</h2>
    <p>To add a caption to a table, use the caption tag.</p>-->
    <table id="employeelist">
        <h2 style="margin-left:40%; color:#5c5c3d;">Employee List</h2>

        <tr>
            <div class="first_row">
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Feild of Working</th>
                <th>Edit Details</th>
            </div>

            @*<th>Required date</th>
                <th>Online pay</th>
                <th>Arrival pay</th>
            *@
        </tr>
        @{
            List<string> hr_names = new List<string>();
            hr_names = Model.GetEmployeeNames();

            List<string> feildofwork = new List<string>();
            feildofwork = Model.GetEmployeeFeildofWorking();

            int i = 0;
            if (!(hr_names is null))
            {
                //not null
                //i = hr_dates.Count;//doesn't exist in model
                i = hr_names.Count;
            }
            for (int e = 0; e < i; e++)
            {
                @using (Html.BeginForm(Html.BeginForm("updateEmpDetails", "Home", new { area = "Admin" }, FormMethod.Post, false, new { @class = "updateEmpDetails" })))
                {
                    <tr>
                        <td>@("E" + (e + 1))</td>
                        @*<td>@hr_names[e]</td>*@

                        <td><input type="text" name="fname" value="@hr_names[e]" /></td>

                        @*<td>@feildofwork[e]</td>*@
                        <td><input type="text" name="feild_of_work" value="@feildofwork[e]" /></td>
                        <td>
                            <input type="number" name="eid" value="@e" style="display:none;" />
                            <input type="submit" name="submit" value="Edit" class="button" />
                            <input type="button" name="btnDelete" value="Delete Account" class="button" onclick="DeleteEmp(@e)" />
                        </td>
                    </tr>


                }
            }


        }
    </table>

    <a id="elink" style="display:none;" href="@Url.Action("getTabletoExecel", "Home", new{area="Admin"})" download></a>
    <button id="btn" onclick="clickLinktoDownload()">Download As Excel</button>

    <div style="position: relative;
        border: 1px solid black;
        text-align: center;
        top: calc(50vh - 50px);
        bottom: 80px;">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>
    </div>

    <script>
        function DeleteEmp(id) {
            var form = document.createElement("FORM");
        form.setAttribute("id", "delete");
        form.setAttribute("name", "delete");
        form.setAttribute("method", "POST");
        form.setAttribute("action", '@Url.Action("deleteEmpDetails", "Home", new { area = "Admin" })');


        document.body.appendChild(form);
        var pk = document.createElement("INPUT");
        pk.setAttribute("type", "number"); //type is number
        pk.setAttribute("id", "eid");
        pk.setAttribute("name", "eid");
        pk.setAttribute("value", id);
        pk.setAttribute("hidden", "hidden");
        document.getElementById("delete").appendChild(pk);
        document.getElementById("delete").submit();


        }

        function clickLinktoDownload() {
            document.getElementById("elink").click();
        }
        document.getElementById("empList").style.borderColor = "black";
    </script>
</body>
</html>















