﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
        <link rel="stylesheet" type="text/css" href="~/css/w3schools_slider.css">
        <style>

                body {
                    margin: 0;
                    padding: 0;
                    font-family: sans-serif;
                    background: #ffffff;
                }

                .form1 {
                    width: 670px;
                    padding: 60px;
                    position: absolute;
                    top: 60%;
                    left: 48%;
                    transform: translate(-50%,-50%);
                    background: #ffffff;
                    text-align: left;
                    color: black;
                    border-style: groove;
                    margin-bottom: 10%;
                    margin-top: 100px;
                    margin-right: 20%;
                    margin-left: 50px;
                }

                    .form1 h1 {
                        color: black;
                        text-align: center;
                    }

                    .form1 label {
                        color: gray;
                        text-align: center;
                        margin-left: 40px;
                    }


                input[type=text], input[type=date] {
                    width: 75%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                }

                .eid {
                    width: 50%;
                    margine-left: 300px;
                }

                .leave details {
                    width: 100px;
                }

                .row {
                    display: flex;
                }



                /*.row {
              display: flex;
            }*/

                /* Create two equal columns that sits next to each other */
                .column1 {
                    flex: 50%;
                    padding: 10px;
                    height: 300px; /* Should be removed. Only for demonstration  */
                }

                .form1 input[type= "text"], .form1 input[type= "date"], .form1 select {
                    display: block;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    width: 80%;
                    height: 39px;
                    padding: 6px 10px;
                    margin-left: 0px outline: none;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 0;
                    background: #fff;
                    font: 15px/23px 'Raleway', sans-serif;
                    color: #404040;
                    appearance: normal;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                }

                .btn_button {
                    font-size: 16px;
                    font-weight: bold;
                    border: 0;
                    color: #fff;
                    width: 200px;
                    height: 55px;
                    border-radius: 4px;
                    background: #119ee7;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.3s ease-out 0s;
                    padding: 14px 40px;
                    margin-left: 240px;
                    margin-top: 100px;
                }
        </style>

    </head>
    @{
        var type = HttpContextAccessor.HttpContext.Session.GetString("EIS_type").Replace("\"", "");
    }
    <body style="background-color: beige;overflow-x:hidden;">
        <h1 class="head">MyLodge</h1>
        <div class="nav-bar-rect">
            <div class="nav-bar-manager">
                <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
            </div>

            <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
            <div class="nav-bar-profileName">
                <div class="dropdown">
                    <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                    <div class="dropdown-content">
                        <a href="@Url.Action("userAcc", "Home", new { area="Admin"})">Profile</a>
                        <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                        <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                    </div>
                </div>
            </div>
            @{
                if (type == "CSM")
                {
                    <script>
                    function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
                    </script>
                }
                else if (type == "GM")
                {
                    <a href="@Url.Action("userpro", "Home", new { area = "Admin" })" id="rlink" style="display:none;"></a>
                    <script>
                        function reqList() {
                            document.getElementById("rlink").click();
                        }
                    </script>
                }
            }
        <div class="nav-bar-btn-round">
            @if (type == "CSM")
            {
                <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
                <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
            }
            else if (type == "GM")
            {
                <a id="reqListFromServer" href="@Url.Action("userpro", "Home", new { area = "Admin" })" style="display:none"></a>
                <button onclick="reqList()">Employee List</button>
                <script>
                    function reqList() {
                        document.getElementById("reqListFromServer").click();
                    }
                </script>
            }
            else if (type == "Mint")
            {
                <a id="reqMTFromServer" href="@Url.Action("Maintenance", "Mint", new { area = "Admin" })" style="display:none"></a>
                <a id="reqMTAddFromServer" href="@Url.Action("Add", "Mint", new { area = "Admin" })" style="display:none"></a>
                <button onclick="reqMT()">Maintenance Table</button>
                <button onclick="reqMTAdd()">Add New</button>
                <script>
                    function reqMT() {
                        document.getElementById("reqMTFromServer").click();
                    }
                    function reqMTAdd() {
                        document.getElementById("reqMTAddFromServer").click();
                    }
                </script>
            }
        </div>
            <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
            <div class="nav-bar-btn-round-after-logo">
                @if (type == "CSM")
                {
                    <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
                }
            </div>
            <div class="nav-bar-triangle"></div>
        </div>
        <div class="form1">

            <h1>Submit Leave Application</h1>
            <hr>
            @{Html.BeginForm("Apply_leave", "Home", FormMethod.Post);
            }
            <form action="leave" method="post">
                <h4>Enter Leave Details</h4>

                <div class="row">
                    <div class="column1">


                        <b>Employee ID</b><input type="text" name="empID" value="@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"",""))" required><br>

                        <b>Apply Date</b><input type="date" placeholder="" name="apply_date" value="" required><br>

                        <b>Date</b><input type="date" placeholder="date" name="start_date" value="" required>
                        <label>Please select the date you want a leave</label><br><br>

                        <!--<b>End Date</b><input type="date" placeholder="date" name="end_date" value="" >
                    <label>Please select the date when ends leave</label><br><br>-->

                    </div>

                    <div class="column2">

                        <b>Leave Details</b><br><hr>
                        Maximum paid leaves per month: 4<hr>
                        Current leaves taken		 :<hr>
                        Remaining paid leaves	     :<hr>
                    </div>
                </div>


                <button type="submit" name="Submit" class="btn_button">proceed</button>
            </form>
        </div>
        <div style="position:relative;border:1px solid black;text-align:center;top:calc(50vh - 50px); top:900px;">
            <span>
                Hotel Management System Project for SLIIT ITP 2020<br />
                Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
            </span>
        </div>
    </body>
    </html>