﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@using System.Web;
@model EmployeeView;
@{
    List<int> hr_id = new List<int>();
    hr_id = Model.GetEmployeeID();

    List<string> hr_nic = new List<string>();
    hr_nic = Model.GetEmployeeNIC();

    List<string> hr_name = new List<string>();
    hr_name = Model.GetEmployeeNames();

    List<string> hr_address = new List<string>();
    hr_address = Model.GetEmployeeAddress();

    List<string> hr_email = new List<string>();
    hr_email = Model.GetEmployeeEmail();

    List<int> hr_phone = new List<int>();
    hr_phone = Model.GetEmployeePhone();

    int i = 0;
    if (!(hr_id is null))
    {
        //not null
        //i = hr_dates.Count;//doesn't exist in model
        i = hr_id.Count;
    }

    int e = i - 1;
}
<!DOCTYPE html>
<html>
<head>


    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">

    <link rel="stylesheet" type="text/css" href="~/css/w3schools_slider.css">

    <style>
        :root {
            --bg-color:beige;
            --nav-bar-bg-color: green;
            --nav-bar-bg-triangle-color: forestgreen;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #ffffff;
        }


        form {
            width: 670px;
            padding: 40px;
            position: absolute;
            top: 70%;
            left: 48%;
            transform: translate(-50%,-50%);
            background: #ffffff;
            text-align: left;
            color: black;
            margin-bottom: 10%;
            margin-top: 100px;
            margin-right: 20%;
            margin-left: 50px;
        }

        table, td, th {
            border: 1px solid #3333ff;
            text-align: left;
            border-left: 20%;
            font-family: Arial;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        .div.text {
            padding-left: 100px;
            font-family: Arial
        }

        .h1 {
            margin-left: 500px;
            margin-top: 20px:
        }

        .my_button {
            font-size: 12px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 250px;
            height: 45px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 200px;
            margin-top: 100px;
        }

        .btn_button {
            font-size: 12px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 250px;
            height: 45px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 200px;
            margin-top: 100px;
        }



        .style-form {
            font-size: 12px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 250px;
            height: 45px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 200px;
            margin-top: 200px;
        }

        .UpdateEmployee input[type= "text"] {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 80%;
            height: 39px;
            padding: 6px 10px;
            margin-left: 0px outline: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/23px 'Raleway', sans-serif;
            color: #404040;
            appearance: normal;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
    </style>
</head>

@{
    var type = HttpContextAccessor.HttpContext.Session.GetString("EIS_type").Replace("\"", "");
}
<body style="background-color: var(--bg-color);overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area = "Admin" })">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        @{
            <script>
                alert("type = " + @type);
            </script>
            if (type == "CSM")
            {
                <script>
                    function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
                </script>
            }
        }
    <div class="nav-bar-btn-round">
        @*<button id="Dashboard">Dashboard</button>
        <button id="faq_data">FAQ Data</button>*@
        }
        @if (type == "CSM")
        {
            <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
            <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
        }
        else if (type == "GM")
        {
            <a id="reqListFromServer" href="@Url.Action("userpro", "Home", new { area = "Admin" })" style="display:none"></a>
            <button id="empList" onclick="reqList()">Employee List</button>
            <script>
                function reqList() {
                    document.getElementById("reqListFromServer").click();
                }
            </script>
        }
        else if (type == "Mint")
        {
            <a id="reqMTFromServer" href="@Url.Action("Maintenance", "Mint", new { area = "Admin" })" style="display:none"></a>
            <a id="reqMTAddFromServer" href="@Url.Action("Add", "Mint", new { area = "Admin" })" style="display:none"></a>
            <button onclick="reqMT()">Maintenance Table</button>
            <button onclick="reqMTAdd()">Add New</button>
            <script>
                function reqMT() {
                    document.getElementById("reqMTFromServer").click();
                }
                function reqMTAdd() {
                    document.getElementById("reqMTAddFromServer").click();
                }
            </script>
        }

    </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
            @*<button id="sys_Settings">System Settings</button>*@
            @if (type == "CSM")
            {
                <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
            }
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    -->


    @*{ Html.BeginForm("UpdateEmp", "Home", FormMethod.Post);}*@
    @{ Html.BeginForm(new { area = "Admin", controller = "Home", action = "updateEmp", @class = "UpdateEmployee" }); }



<table>
    <caption><h1>Employee Profile</h1></caption>
    <tr>
        <td> Employee ID: </td>
        @*
                <td>@hr_id[e]</td>

            <td> @Model.eid </td>*@
        <td> @(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"",""))</td>
    </tr>
    <tr>
        <td> NIC Number: </td>
        @*
            <td>@hr_nic[e]</td>
        *@
        <td><input type="text" name="nic" value="@Model.nic" /></td>
    </tr>

    <tr>

        <td> Full Name: </td>
        @*
            <td> @hr_address[e]</td>
        *@

        <td><input type="text" name="fname" value="@Model.fname" /></td>


    </tr>

    <tr>

        <td> Address : </td>
        @*
            <td> @hr_address[e]</td>
        *@

        <td><input type="text" name="address" value="@Model.address" /></td>


    </tr>

    <tr>

        <td> Email : </td>
        @*
            <td>@hr_email[e]</td>
        *@

        <td><input type="text" name="email" value="@Model.email" /></td>



    </tr>


    <tr>

        <td> Phone : </td>
        @*
            <td>@hr_phone[e]</td>
        *@

        <td><input type="text" name="phone" value="@Model.phone" /></td>



    </tr>



</table>

    <button name="EmployeeUpdate" class="btn_button">Update My Account</button>
    <input type="button" name="Delete-btn" value="Delete My Account" class="btn_button" onclick="DeleteEmp()" />


    @{ Html.EndForm();}

    @*{ Html.BeginForm("DeleteEmp", "Home", FormMethod.Post);
        <button name="DeleteEmp" class="btn button">Delete My Account</button>}
        @{ Html.EndForm();}*@








    @*{ Html.EndForm();}*@
    <div style="        position: relative;
        border: 1px solid black;
        text-align: center;
        top: calc(50vh - 50px);
        top: 900px;">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>


    </div>
    <script>
        function DeleteEmp() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "delete");
            form.setAttribute("name", "delete");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("DeleteEmp", "Home", new { area = "Admin" })');

            document.body.appendChild(form);
            document.delete.submit();
        }
    </script>
</body>
</html>