﻿@using MyLodge.proj1.Controllers;

    <head>
        <!-- CSS here -->
        <link rel="stylesheet" href="~/css/bootstrapss.min.css">
        <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/base-design.css"/>
    </head>

<body style="background-color: beige;">
    <header>
        <h1 class="head">MyLodge</h1>
        <div class="nav-bar-rect">
            <div class="nav-bar-manager">
                <span>Customer Information Manager</span>
            </div>

            <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
            <div class="nav-bar-profileName">
                <div class="dropdown">
                    <button class="dropbtn">CM103 Emily Jackson</button>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="#">Leave Form</a>
                        <a href="#">Sign out</a>
                    </div>
                </div>
            </div>
            <div class="nav-bar-btn-round">
                <button id="Dashboard">Dashboard</button>
                <button id="faq_data">FAQ Data</button>
            </div>
            <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
            <div class="nav-bar-btn-round-after-logo">
                <button id="sys_Settings">System Settings</button>
            </div>
            <div class="nav-bar-triangle"></div>
        </div>
    </header>
    </br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>Member</h4>
                                </center>
                            </div>
                        </div>

                        @{ Html.BeginForm("Search", "Home", FormMethod.Post); }

                        <div class="row">
                            <div class="col">
                                <center>
                                    <img src="~/img/imgs/generaluser.png" width="100" />

                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">

                                @ViewBag.error
                                <input class="form-control mr-sm-2" type="text" name="Email_id" placeholder="Email" aria-label="Search">
                            </div>
                            <div class="col-md-5">
                                <button class="btn btn-outline-success " style="background-color:forestgreen" type="submit" name="Login">Search</button>


                            </div>
                        </div>
                        @{Html.EndForm();}


                        @model CustomerView;

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-3">
                                <label>Customer ID</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="cusid" placeholder="User ID" value="@Model.Cusid" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>User Name</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="userid" placeholder="User ID" value="@Model.UserID" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label>Full Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="cusname" placeholder="Full Name" value="@Model.Fullname" ReadOnly>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <label>DOB</label>
                                    <div class="form-group">
                                        <input type="datetime" class="form-control" name="cusdob" placeholder="DOB" value="@Model.DateofBirth" ReadOnly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Contact No</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cusphone" placeholder="Contact No" value="@Model.ContactNo" ReadOnly>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <label>Email ID</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cusemail" placeholder="Email" value="@Model.Email_id" ReadOnly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>NIC/Passport</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cusnic" placeholder="NIC/Password" value="@Model.Nic" ReadOnly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Country</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cuscountry" placeholder="Country" value="@Model.Country" ReadOnly>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <label>Address</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ID="TextBox6" runat="server" placeholder="Address" value="@Model.Address" readonly>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @{Html.EndForm();
            }
            <script>
                function clickLink() {
                    document.getElementById("fdlink").click();
                }
            </script>
        </div>
        <br /><br />
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <center>
                            <h4>Generate Customer Report</h4>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <center>
                            <a id="fdlink" href="@Url.Action("GetCusTableExcel","Home")" download></a>
                            <button id="dbtn" onclick="clickLink()">Download As Excel</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <br /><br />

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>Member List</h4>
                                </center>
                            </div>
                        </div>

                        <div class="col">
                            <hr>
                        </div>

                        <table class="table table-striped">
                            <tr class="thead-dark">
                                <th>Customer ID</th>
                                <th>User Name</th>
                                <th>Full Name</th>
                                <th>Date Of Birth</th>
                                <th>Contact No</th>
                                <th>Email ID</th>
                                <th>NIC/Password</th>
                                <th>Country</th>
                                <th>Address</th>
                            </tr>
                            @{

                                List<string> hr_names = new List<string>();
                                hr_names = Model.GetmemberReNames();

                                List<string> hr_usernames = new List<string>();
                                hr_usernames = Model.GetmemberReUserID();

                                List<string> hr_contactno = new List<string>();
                                hr_contactno = Model.GetmemberReContactNo();

                                List<DateTime> hr_dates = new List<DateTime>();
                                hr_dates = Model.GetmemberReDate();

                                List<string> hr_emailid = new List<string>();
                                hr_emailid = Model.GetmemberReEmail_id();

                                List<string> hr_nic = new List<string>();
                                hr_nic = Model.GetmemberReNic();

                                List<string> hr_country = new List<string>();
                                hr_country = Model.GetmemberReCountry();

                                List<string> hr_address = new List<string>();
                                hr_address = Model.GetmemberReAddress();

                                int i = 0;
                                if (!(hr_names is null))
                                {
                                    //not null
                                    i = hr_dates.Count;

                                }
                                for (int e = 0; e < i; e++)
                                {
                                    <tr>
                                        <td>@e</td>
                                        <td>@hr_usernames[e]</td>
                                        <td>@hr_names[e]</td>
                                        <td>@hr_dates[e]</td>
                                        <td>@hr_contactno[e]</td>
                                        <td>@hr_emailid[e]</td>
                                        <td>@hr_nic[e]</td>
                                        <td>@hr_country[e]</td>
                                        <td>@hr_address[e]</td>
                                    </tr>

                                }
                            }
                        </table>



                        @{Html.EndForm();
                        }

                    </div>
                </div>
            </div>
        </div>
  

</body>
