﻿
@using MyLodge.proj1.Controllers;
@model ContactUsView;
<head>
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css" />
</head>

<body style="background-color: beige;">
    <header>
        <h1 class="head">MyLodge</h1>
        <div class="nav-bar-rect">
            <div class="nav-bar-manager">
                <span>Contact Us</span>
            </div>

            <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
            <div class="nav-bar-profileName">
                <div class="dropdown">
                    <button class="dropbtn">CM103 Emily Jackson</button>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="#">Leave Form</a>
                        <a href="#">Sign out</a>
                    </div>
                </div>
            </div>
            <div class="nav-bar-btn-round">
                <button id="Dashboard">Dashboard</button>
                <button id="faq_data">FAQ Data</button>
            </div>
            <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
            <div class="nav-bar-btn-round-after-logo">
                <button id="sys_Settings">System Settings</button>
            </div>
            <div class="nav-bar-triangle"></div>
        </div>

    </header>

            <br /><br />
                  <center>
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col">
                                          <center>
                                              <h4>Contact Us</h4>
                                          </center>
                                      </div>
                                  </div>

                                  <div class="col">
                                      <hr>
                                  </div>

                                  <table class="table table-striped">
                                      <tr class="thead-dark">
                                          <th>Conntact ID</th>
                                          <th> Name</th>
                                          <th>Email</th>
                                          <th>Message</th>

                                      </tr>
                                      @{

                                          List<string> names = new List<string>();
                                          names = Model.GetCName();

                                          List<string> email = new List<string>();
                                          email = Model.GetCEmail();

                                          List<string> message = new List<string>();
                                          message = Model.GetMessage();


                                          int i = 0;
                                          if (!(names is null))
                                          {
                                              //not null
                                              i = email.Count;

                                          }
                                          for (int e = 0; e < i; e++)
                                          {
                                              <tr>
                                                  <td>@e</td>
                                                  <td>@names[e]</td>
                                                  <td>@email[e]</td>
                                                  <td>@message[e]</td>

                                              </tr>

                                          }
                                      }
                                  </table>



                                  @{Html.EndForm();
                                  }

                              </div>
                          </div>
                      </div>
                      </div>
                      </div>
                  </center>
</body>
