﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<body>
    <center>
        <h2>Reservations Table</h2>
        <p>Below are the reservations done by the users</p>
    </center>
    <center>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Room Reservation List</h4>
                            </center>
                        </div>
                    </div>
                    @{
                        Html.BeginForm("Viewww", "Home", FormMethod.Post);
                    }
                    <div class="col">
                        <hr>
                    </div>
                    <table class="table table-striped">

                        <tr class="thead-dark">
                            <th>Reservation ID</th>
                            <th>Email</th>
                            <th>Room Type</th>
                            <th>Check in date</th>
                            <th>Check out date</th>
                            <th>No of Rooms</th>
                            <th>No of Days</th>
                            <th>Payment type</th>

                        </tr>
                        @{
                            List<string> hr_names = new List<string>();
                            hr_names = Model.GetRoomReEmail();
                            List<DateTime> hr_checkin = new List<DateTime>();
                            hr_checkin = Model.GetRoomReCheckin();
                            List<DateTime> hr_checkout = new List<DateTime>();
                            hr_checkout = Model.GetRoomReCheckout();
                            List<String> hr_quantity = new List<String>();
                            hr_quantity = Model.GetRoomReQuantity();
                            List<String> days = new List<String>();
                            days = Model.GetRoomReDays();
                            List<String> types = new List<String>();
                            types = Model.GetRoomReType();
                            List<String> pay = new List<String>();
                            pay = Model.GetRoomRePay();
                            int i = 0;
                            if (!(hr_names is null))
                            {
                                //not null
                                i = hr_names.Count;
                            }
                            for (int e = 0; e < i; e++)
                            {
                                <tr>
                                    <td>@e</td>
                                    <td>@hr_names[e]</td>
                                    <td>@types[e]</td>
                                    <td>@hr_checkin[e]</td>
                                    <td>@hr_checkout[e]</td>
                                    <td>@hr_quantity[e]</td>
                                    <td>@days[e]</td>
                                    <td>@pay[e]</td>
                                </tr>

                            }
                        }
                        @*
            <tr>
                <td>@Model.Reservation_id</td>
                <td>@Model.Name</td>
                <td>@Model.Required_date</td>
                <td>@Model.Online_pay</td>
                <td>@Model.Arrival_pay</td>
            </tr>
            <tr>
                <td>February</td>
                <td>$50</td>
            </tr>
                        *@
                    </table>
                </div>
            </div>
        </div>
        </div>
    </center>


</body>
</html>
@{Html.EndForm();
}

