﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MyLodge.proj1.Controllers;
@model RoomReservationView;
<!--<table>
    <caption>Reserve</caption>
    <th>Name</th>

</table>-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }


        .img {
            height: 500px;
            width: 870px;
        }
    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css" />
</head>


<body style="background-color: beige;">
    <header>
        <h1 class="head">MyLodge</h1>
        <div class="nav-bar-rect">
            <div class="nav-bar-manager">
                <span>Room Reservation Information</span>
            </div>

            <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
            <div class="nav-bar-profileName">
                <div class="dropdown">
                    <button class="dropbtn">CM103 Emily Jackson</button>
                    <div class="dropdown-content">
                        <a href="#">Profile</a>
                        <a href="#">Leave Form</a>
                        <a href="#">Sign out</a>
                    </div>
                </div>
            </div>
            <div class="nav-bar-btn-round">
                <button id="Dashboard">Dashboard</button>
                <button id="faq_data">FAQ Data</button>
            </div>
            <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
            <div class="nav-bar-btn-round-after-logo">
                <button id="sys_Settings">System Settings</button>
            </div>
            <div class="nav-bar-triangle"></div>
        </div>
    </header>
    </br>
    <center> 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Room Reservation</h4>

                                    </center>
                                </div>
                            </div>

                            @{ Html.BeginForm("SearchRoomReserve", "Home", FormMethod.Post); }

                            <div class="row">
                                <div class="col-md-5">

                                    @ViewBag.error
                                    <input class="form-control mr-sm-2" type="number" name="reservation_id" placeholder="Reservation ID" aria-label="Search">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-outline-success " style="background-color:forestgreen" type="submit" name="Login">Search</button>


                                </div>
                            </div>

                            @{ Html.EndForm();}

                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">
                                    <label>Reservation ID</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control mr-1" name="cusid" placeholder="Reservation ID" value="@Model.reservation_id" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <label>Email</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cusname" placeholder="Email" value="@Model.email" ReadOnly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Room type</label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control mr-1" name="userid" placeholder="Room type" value="@Model.type" readonly>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <label>Check-in-date</label>
                                        <div class="form-group">
                                            <input type="datetime" class="form-control" name="cusdob" placeholder="Check-in" value="@Model.check_in" ReadOnly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Check-out-date</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cusphone" placeholder="Check-out" value="@Model.check_out" ReadOnly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>No of Rooms</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cusemail" placeholder="No of rooms" value="@Model.rooms" ReadOnly>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label>No of days</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cusnic" placeholder="No of days" value="@Model.days" ReadOnly>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <label>Payment Type</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cuscountry" placeholder="Payment type" value="@Model.pay_type" ReadOnly>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                @{Html.EndForm();
                }
            </div>
            <script>
                function clickLink() {
                    document.getElementById("fdlink").click();
                }
            </script>
            <br /><br />
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>Generate Reservation Report</h4>
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <center>
                                <a id="fdlink" href="@Url.Action("GetRevTableExcel","Home")" download></a>
                                <button id="dbtn" onclick="clickLink()">Download As Excel</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <center>
            <h2>Reservations Table</h2>
            <p>Below are the reservations done by the users</p>
        </center>
        <center>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h4>Room Reservation List</h4>
                                </center>
                            </div>
                        </div>

                        @{ Html.BeginForm("Vieww", "Home", FormMethod.Post);
                        }
                        <div class="col">
                            <hr>
                        </div>
                        <table class="table table-striped">

                            <tr class="thead-dark">
                                <th>Reservation ID</th>
                                <th>Email</th>
                                <th>Room Type</th>
                                <th>Check in date</th>
                                <th>Check out date</th>
                                <th>No of Rooms</th>
                                <th>No of Days</th>
                                <th>Payment type</th>

                            </tr>
                            @{
                                List<string> hr_names = new List<string>();
                                hr_names = Model.GetRoomReEmail();
                                List<DateTime> hr_checkin = new List<DateTime>();
                                hr_checkin = Model.GetRoomReCheckin();
                                List<DateTime> hr_checkout = new List<DateTime>();
                                hr_checkout = Model.GetRoomReCheckout();
                                List<String> hr_quantity = new List<String>();
                                hr_quantity = Model.GetRoomReQuantity();
                                List<String> days = new List<String>();
                                days = Model.GetRoomReDays();
                                List<String> types = new List<String>();
                                types = Model.GetRoomReType();
                                List<String> pay = new List<String>();
                                pay = Model.GetRoomRePay();
                                int i = 0;
                                if (!(hr_names is null))
                                {
                                    //not null
                                    i = hr_names.Count;
                                }
                                for (int e = 0; e < i; e++)
                                {
                                    <tr>
                                        <td>@e</td>
                                        <td>@hr_names[e]</td>
                                        <td>@types[e]</td>
                                        <td>@hr_checkin[e]</td>
                                        <td>@hr_checkout[e]</td>
                                        <td>@hr_quantity[e]</td>
                                        <td>@days[e]</td>
                                        <td>@pay[e]</td>
                                    </tr>

                                }
                            }
                            @*
                                <tr>
                                    <td>@Model.Reservation_id</td>
                                    <td>@Model.Name</td>
                                    <td>@Model.Required_date</td>
                                    <td>@Model.Online_pay</td>
                                    <td>@Model.Arrival_pay</td>
                                </tr>
                                <tr>
                                    <td>February</td>
                                    <td>$50</td>
                                </tr>
                            *@
                        </table>
                    </div>
                </div>
            </div>
    </div>
    </center>


</body>
</html>
@{Html.EndForm();
}
