﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MyLodge.proj1.Controllers;
@model HallReservationView;
<!--<table>
    <caption>Reserve</caption>
    <th>Name</th>

</table>-->
@{ Html.BeginForm("Vieww", "Home", FormMethod.Post);
}
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
                text-align: left;
            }


            .img {
                height: 500px;
                width: 870px;
            }
        </style>

        <!-- CSS here -->
        <link rel="stylesheet" href="~/css/bootstrapss.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/gijgo.css">
        <link rel="stylesheet" href="~/css/slicknav.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/styles.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    </head>
       
 <body>
            <center>
                <h2>Reservations Table</h2>
                <p>Below are the reservations done by the users</p>
            </center>
            <center>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Hall Reservation List</h4>
                                    </center>
                                </div>
                            </div>


                            <div class="col">
                                <hr>
                            </div>
                            <table class="table table-striped">

                                <tr class="thead-dark">
                                    <th>Reservation ID</th>
                                    <th>Name</th>
                                    <th>Required date</th>
                                    @* <th>Online pay</th>
                                    <th>Arrival pay</th>
                                    *@
                                </tr>
                                @{
                                    List<string> hr_names = new List<string>();
                                    hr_names = Model.GetHallReNames();
                                    List<DateTime> hr_dates = new List<DateTime>();
                                    hr_dates = Model.GetHallReDate();
                                    int i = 0;
                                    if (!(hr_names is null))
                                    {
                                        //not null
                                        i = hr_dates.Count;
                                    }
                                    for (int e = 0; e < i; e++)
                                    {
                                        <tr>
                                            <td>@e</td>
                                            <td>@hr_names[e]</td>
                                            <td>@hr_dates[e]</td>
                                        </tr>

                                    }
                                }
                                @*
                                <tr>
                                    <td>@Model.Reservation_id</td>
                                    <td>@Model.Name</td>
                                    <td>@Model.Required_date</td>
                                    <td>@Model.Online_pay</td>
                                    <td>@Model.Arrival_pay</td>
                                </tr>
                                <tr>
                                    <td>February</td>
                                    <td>$50</td>
                                </tr>
                                *@
                            </table>

                        </div>
                    </div>
                </div>
               
            </center>

        </body>
    </html>
@{Html.EndForm();
}
