﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

@using MyLodge.proj1.Areas.Admin.Controllers;
@model stockdbView

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>add items</title>

    <link rel="stylesheet" type="text/css" href="~/css/stock_style.css">
    <link rel="stylesheet" type="text/css" href="~/css/stock_additems.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <style>
    </style>
</head>

<body onload="startTime()">

    <div class="wrapper">

        <div class="header">
            <div class="header-menu">
                <div class="title"> WELCOME @(HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))<span>!</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li><div id="txt"></div></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-menu">
                <ul>

                    <li class="item" name="Dash" value="Dash">
                        <a href="@Url.Action("Dash_board", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>

                    <li class="item" id="profile">
                        <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-plus-circle"></i><span>Items <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })"><span>Add Items</span></a>
                        </div>
                    </li>

                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Stock <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_stock", "Stock", new { area = "Admin" })"><span>Add Stock</span></a>

                        </div>
                    </li>



                    <li class="item" id="r">
                        <a href="#r" class="menu-btn">
                            <i class="fas fa-file"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Report", "Stock", new { area = "Admin" })"><span>Avaiilable Stock Report</span></a>
                            <!--<a href="#"><span>Low Stock</span></a>-->

                        </div>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("User_Profile", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="far fa-user-circle"></i><span>User Profile</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("Logout", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-power-off"></i><span>Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
            <div class="col">
                <div class="main">
                    <h1>Item List</h1>
                </div>

                <button id="button">Add Item</button>


                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Item Names.." title="Type for search">

                <br><br />

                <table id="table">
                    <thead>
                        <tr>
                            <th width="10%">Item Code</th>
                            <th width="20%">Brand Name</th>
                            <th width="20%">Item Name</th>
                            <th width="10%">Type /Size</th>
                            <th width="10%">Reorder Level</th>
                            <th width="20%">Action</th>
                        </tr>
                    <tbody id="myTable">

                        @{
                            List<int> c = new List<int>();
                            c = Model.GetAddItemCode();

                            List<string> hr_names = new List<string>();
                            hr_names = Model.GetAddItemName();

                            List<string> brand = new List<string>();
                            brand = Model.GetAddItemBrand();

                            List<string> amt = new List<string>();
                            amt = Model.GetAddItemAmount();

                            List<int> re = new List<int>();
                            re = Model.GetAddItemReorderlevel();

                            int i = 0;
                            if (!(hr_names is null))
                            {
                                //not null
                                //i = hr_dates.Count;//doesn't exist in model
                                i = hr_names.Count;
                            }

                            for (int e = 0; e < i; e++)
                            {
                                <tr>
                                    <td>@(e+1)</td>
                                    <td id="brand.@e">@brand[e]</td>
                                    <td id="hr_names.@e">@hr_names[e]</td>
                                    <td id="amt.@e">@amt[e]</td>
                                    <td id="re.@e">@re[e]</td>
                                    <td>
                                        <button class="editdeletebuttons" onclick="editfunction(@e)" id="button1">Edit</button>

                                        @using (Html.BeginForm(new { area = "Admin", controller = "Stock", action = "Delete" }))
                                        {
                                            <input type="text" name="Item_Code" value="@e" style="display:none;" />
                                            <button class="editdeletebuttons" id="button3" name="DeleteItem">Delete</button>
                                        }


                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                    </thead>
                </table>

                <div class="formcontainer">
                    <div class="close">+</div>

                    @{Html.BeginForm("Add_items", "Stock", FormMethod.Post);
                    }
                    <form action="create" method="POST">

                        <div class="segment">
                            <h1>Add Items</h1>

                        </div>

                        <label>
                            <input type="text" placeholder="Item Name" name="Item_Name" value="" required />
                        </label>
                        <label>
                            <input type="text" placeholder="Brand Name" name="Brand_Name" value="" required />
                        </label>
                        <label>

                            <input type="text" placeholder="Type" name="Amount" value="" required />
                        </label>

                        <label>
                            <input type="text" placeholder="Reorder Level" name="Reorder_Level" value="" required />
                        </label>

                        @using (Html.BeginForm(new { area = "Admin", controller = "Stock", action = "Add" }))
                        {
                            <button class="red" type="submit">Add</button>
                        }

                    </form>
                    @{Html.EndForm();
                    }

                </div>

                <div class="formcontainer1">
                    <div class="close1">+</div>

                    @{ Html.BeginForm(new { area = "Admin", controller = "Stock", action = "UpdateItem" }); }
                    <form action="create" method="POST">

                        <div class="segment">
                            <h1>Update Item</h1>
                        </div>
                        <label>
                            <input type="text" id="id" name="Item_Code" value="" style="display:none;" } />
                        </label>

                        <label>
                            <input type="text" id="name" name="Item_Name" value="" required />
                        </label>
                        <label>
                            <input type="text" id="brand" name="Brand_Name" value="" required />
                        </label>
                        <label>
                            <input type="text" id="amount" name="Amount" value="" required />
                        </label>

                        <label>
                            <input type="text" id="reorderlevel" name="Reorder_Level" value="" required />
                        </label>

                        @using (Html.BeginForm(new { area = "Admin", controller = "Stock", action = "Update" }))
                        {
                            <button class="red" type="submit">Update</button>
                        }
                    </form>
                    @{Html.EndForm();
                    }

                </div>
            </div>
        </div><!--main container end-->
    </div><!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-btn").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });

        document.getElementById("button").addEventListener("click", function () {
            document.querySelector(".formcontainer").style.display = "flex";

        })

        function editfunction(id) {
            document.getElementById("button1");
            document.querySelector(".formcontainer1").style.display = "flex";

            var b = document.getElementById(("brand.").concat(id)).innerHTML;
            var n = document.getElementById(("hr_names.").concat(id)).innerHTML;
            var a = document.getElementById(("amt.").concat(id)).innerHTML;
            var r = document.getElementById(("re.").concat(id)).innerHTML;
            //show
            alert("id = " + id + " b=" + b + " n=" + n + " a=" + a + " r=" + r);

            document.getElementById("id").value = id;
            document.getElementById("brand").value = b;
            document.getElementById("name").value = n;
            document.getElementById("amount").value = a;
            document.getElementById("reorderlevel").value = r;
        }

        document.querySelector(".close").addEventListener("click", function () {
            document.querySelector(".formcontainer").style.display = "none";
        })

        document.querySelector(".close1").addEventListener("click", function () {
            document.querySelector(".formcontainer1").style.display = "none";
        })

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });


        //js function for get current running time
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>

</body>


</html>

