﻿<!DOCTYPE html>
@using MyLodge.proj1.Areas.Admin.Controllers;
@model stockdbView
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>add items</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css"> 
    <link rel="stylesheet" type="text/css" href="~/css/stock_addstock.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

    <style>

    </style>   
</head>
<body onload="startTime()">

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title"> WELCOME <span>!</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li><div id="txt"></div></li>
                    <li><a href="@Url.Action("Logout", "Stock", new { area = "Admin" })"><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-menu">
                <ul>
                    <li class="item">
                        <a href="@Url.Action("Dash_board", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>

                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-plus-circle"></i><span>Items <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })"><span>Add Items</span></a>
                        </div>
                    </li>

                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Stock <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_stock", "Stock", new { area = "Admin" })"><span>Add Stock</span></a>
                        </div>
                    </li>

                    <li class="item" id="r">
                        <a href="#r" class="menu-btn">
                            <i class="fas fa-file"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Report", "Stock", new { area = "Admin" })"><span>Avaiilable Stock Report</span></a>
                            <!--<a href="#"><span>Low Stock</span></a>-->

                        </div>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("User_Profile", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="far fa-user-circle"></i><span>User Profile</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("Logout", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-power-off"></i><span>Logout</span>
                        </a>
                    </li>



                </ul>
            </div>
        </div>

        <div class="main-container">
            <div class="col">
                <div class="main">
                    <h1>Stock List</h1>
                </div>
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    <table id="table">
                        <thead>
                            <tr>
                                <th width="5%"> Item Code</th>
                                <th width="20%"> Item Name</th>
                                <th width="20%"> Brand Name</th>
                                <th width="10%"> Type / Size</th>
                                <th width="15%">Total Quantity</th>
                                <th width="25%">Add / Remove Quantity</th>
                            </tr>
                        <tbody id="myTable">
                            @{
                                List<int> c = new List<int>();
                                c = Model.GetAddItemCode();

                                List<string> iname = new List<string>();
                                iname = Model.GetAddItemName();

                                List<string> br = new List<string>();
                                br = Model.GetAddItemBrand();

                                List<string> am = new List<string>();
                                am = Model.GetAddItemAmount();

                                List<int> tot = new List<int>();
                                tot = Model.GetAddItemTotal();

                                int i = 0;
                                if (!(iname is null))
                                {
                                    //not null
                                    //i = hr_dates.Count;//doesn't exist in model
                                    i = iname.Count;
                                }

                                for (int e = 0; e < i; e++)
                                {
                                    <tr>
                                        <td>@(c[e])</td>
                                        <td>@iname[e]</td>
                                        <td>@br[e]</td>
                                        <td>@am[e]</td>
                                        <td>@tot[e]</td>
                                        <td>
                                            <input type="text" id="addQ.@c[e]" name="Addquantity" placeholder="Enter Quantity">

                                            <button type="submit" name="addbtn" onclick="SetAmount(@c[e], '+')">+</button>
                                            <button type="submit" name="removebtn" onclick="SetAmount(@c[e],'-')">-</button>

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        </thead>



                    </table>

                    @using (Html.BeginForm("updateTot", "Stock", new { area = "Admin" }, FormMethod.Post, false, new { @id = "form1" }))
                    {
                        <input type="text" id="id" name="id" value="0" style="display:none;">
                        <input type="text" id="type" name="type" value="/" style="display:none;">
                        <input type="text" id="amount" name="amt" value="0" style="display:none;">
                    }

                    @*@{Html.EndForm();
            }*@
                </div>

        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".sidebar-btn").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });

        function SetAmount(id, type) {
           
            document.getElementById("amount").value = document.getElementById(("addQ.").concat(id)).value;            
            document.getElementById("id").value = id;           
            document.getElementById("type").value = type;
            document.getElementById("form1").submit();
        }


        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        //js function for get current running time
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }

    </script>
</body>
</html>
