﻿@*c
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/css/stock_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>

    <style>

        #txt {color: #ffffff;}
         
        body {font-family: 'Montserrat', sans-serif}

        #table {
            border-collapse: collapse;
            width: 80%;
            margin-left: auto;
            margin-right: auto;}

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
                color: white;}

            #table tr:nth-child(even) {
                background-color: #22242A;}

            #table td {
                background-color: white;
                color: black;}

            #table tr:hover {background-color: #ddd;}

            #table th {
                font-size:11px;
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #22242A;}

        .sign {
            float: right;
            padding: 70px;}
        .title1{text-align:center;}
       
        #demo{padding:6px;}
       
        #time {padding: 6px;}

        button {
            width:200px;
            height:35px;
            color: #61677C;
            font-weight: bold;
            box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-weight: 600;
        }


        button, input {
            border: 0;
            outline: 0;
            font-size: 16px;
            border-radius: 320px;
            padding: 10px;
            background-color: #EBECF0;
            text-shadow: 1px 1px 0 #FFF;
        }
            button:hover {
                box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
            }

            button:active {
                box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
            }

            button .icon {
                margin-right: 8px;
            }



    </style>
</head>

<body onload="startTime()">

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title"> WELCOME <span>!</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                    <li><div id="txt"></div></li>
                   
                </ul>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-menu">
                <ul>
                    <li class="item">
                        <a href="@Url.Action("Dash_board", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>


                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-plus-circle"></i><span>Items <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })">
                                <span> Add Items</span>
                            </a>
                        </div>
                    </li>

                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Stock <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_stock", "Stock", new { area = "Admin" })"><span>Add Stock</span></a>


                        </div>
                    </li>


                    <li class="item" id="r">
                        <a href="#r" class="menu-btn">
                            <i class="fas fa-file"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Report", "Stock", new { area = "Admin" })"><span>Avaiilable Stock Report</span></a>
                            <!--<a href="#"><span>Low Stock</span></a>-->

                        </div>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("User_Profile", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="far fa-user-circle"></i><span>User Profile</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("Logout", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-power-off"></i><span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
            <button class="print" id="print" onclick="createPDF()">Download PDF</button><br /><br />


            <div class="printthis">
                <fieldset>
                    <br />
                    <h3 class="title1"><center>MyLodge Hotel Pvt(Ltd)</center></h3><br />
                    <label class="title2"><center>49, Flower Road, Colombo 3</center></label><br />
                    <label class="title3"><center>TEL : 0112969696</center></label><br />


                    <p id="demo"></p><br />

                    <p id="time"></p><br />
                    <hr /><br />


                    <h3><center><u>Available Stock Details</u></center></h3><br />

                    <table id="table" style="font-size:11px;">
                        <thead>
                            <tr>
                                <th width="10%"> Item Code</th>
                                <th width="25%"> Item Name</th>
                                <th width="25%"> Brand Name</th>
                                <th width="20%"> Type / Size</th>
                                <th width="25%">Total Quantity</th>

                            </tr>
                        <tbody id="myTable">
                            @{
                                List<int> c = new List<int>();
                                c = Model.GetAddItemCode();

                                List<string> iname = new List<string>();
                                iname = Model.GetAddItemName();

                                List<string> br = new List<string>();
                                br = Model.GetAddItemBrand();

                                List<string> am = new List<string>();
                                am = Model.GetAddItemAmount();

                                List<int> tot = new List<int>();
                                tot = Model.GetAddItemTotal();

                                int i = 0;
                                if (!(iname is null))
                                {
                                    //not null
                                    //i = hr_dates.Count;//doesn't exist in model
                                    i = iname.Count;
                                }

                                for (int e = 0; e < i; e++)
                                {
                                    <tr>
                                        <td>@(c[e])</td>
                                        <td>@iname[e]</td>
                                        <td>@br[e]</td>
                                        <td>@am[e]</td>
                                        <td>@tot[e]</td>

                                    </tr>
                                }
                            }
                        </tbody>
                        </thead>
                    </table>

                    <div class="sign">
                        <label>...............................</label><br />
                        <label>Signature</label>
                    </div>
                </fieldset>

            </div>


        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });


        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }


        var today = new Date();

        var date = 'Date : ' + today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        document.getElementById("demo").innerHTML = date;

        var time = 'Time : ' + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        document.getElementById("time").innerHTML = time;

        function createPDF() {
            //create a ne instance of jspdf
            var doc = new jsPDF();

            var HTMLelement = $(".printthis").html();
            doc.fromHTML(HTMLelement, 10, 10, {
                'width':190
            })
           // var html = document.getElementById("printthis").innerHTML;
           
            //save the file
            doc.save("Report.pdf")
        }
    </script>

</body>
</html>
