﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html lang="en">
       @using MyLodge.proj1.Areas.Admin.Controllers;
        @model stockdbView

        <html lang="en">
        <head>
            <meta charset="utf-8">
            <style>
                body {
                    font-family: 'Montserrat', sans-serif;
                }
                #table {
                    border-collapse: collapse;
                    width:80%;
                    margin-left:auto;
                    margin-right:auto;
                }

                    #table td, #table th {
                        border: 1px solid #ddd;
                        padding: 8px;
                        color: white;
                    }

                    #table tr:nth-child(even) {
                        background-color: #22242A;
                    }

                    #table td {
                        background-color: white;
                        color: black;
                    }

                    #table tr:hover {
                        background-color: #ddd;
                    }

                    #table th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color: #22242A;
                    }
                    .sign{
                        float:right;
                        padding:70px;
                    }
            </style>
       </head>
        <body>
            <fieldset>
                <h3><center>MyLodge Hotel Pvt(Ltd)</center></h3>
                <h4><center>49, Flower Road, Colombo 10</center></h4>
                <h4><center>TEL : 0112969696</center></h4>

               
                <p id="demo"></p>
                
                <p id="time"></p>
                <hr />


                <h3><center><u>Available Stock Details</u></center></h3>

                <table id="table">
                    <thead>
                        <tr>
                            <th width="10%"> Item Code</th>
                            <th width="25%"> Item Name</th>
                            <th width="25%"> Brand Name</th>
                            <th width="20%"> Quantity</th>
                            <th width="25%">Total Quantity</th>

                        </tr>
                    <tbody id="myTable">
                        @{
                            List<int> c = new List<int>();
                            c = Model.GetAddItemCode();

                            List<string> iname = new List<string>();
                            iname = Model.GetAddItemName();

                            List<string> br = new List<string>();
                            br = Model.GetAddItemBrand();

                            List<string> am = new List<string>();
                            am = Model.GetAddItemAmount();

                            List<int> tot = new List<int>();
                            tot = Model.GetAddItemTotal();

                            int i = 0;
                            if (!(iname is null))
                            {
                                //not null
                                //i = hr_dates.Count;//doesn't exist in model
                                i = iname.Count;
                            }

                            for (int e = 0; e < i; e++)
                            {
                                <tr>
                                    <td>@(c[e])</td>
                                    <td>@iname[e]</td>
                                    <td>@br[e]</td>
                                    <td>@am[e]</td>
                                    <td>@tot[e]</td>

                                </tr>
                            }
                        }
                     </tbody>
                    </thead>
                </table>

                <div class="sign">
                <label>...............................</label><br />
                    <label>Signature</label>
                </div>
            </fieldset>


            <script>
                //var d = new Date();
                var today = new Date();

                var date ='Date : '+ today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                document.getElementById("demo").innerHTML = date;

                var time = 'Time : '+today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
               document.getElementById("time").innerHTML = time;
              

            </script>


        </body>
</html>
