﻿@*c
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@using System.Web;
@model EmployeeView;
@{
    List<int> hr_id = new List<int>();
    hr_id = Model.GetEmployeeID();

    List<string> hr_nic = new List<string>();
    hr_nic = Model.GetEmployeeNIC();

    List<string> hr_name = new List<string>();
    hr_name = Model.GetEmployeeNames();

    List<string> hr_address = new List<string>();
    hr_address = Model.GetEmployeeAddress();

    List<string> hr_email = new List<string>();
    hr_email = Model.GetEmployeeEmail();

    List<int> hr_phone = new List<int>();
    hr_phone = Model.GetEmployeePhone();

    int i = 0;
    if (!(hr_id is null))
    {
        //not null
        //i = hr_dates.Count;//doesn't exist in model
        i = hr_id.Count;
    }

    int e = i - 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/css/stock_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

    <style>

        #txt{
            color:#ffffff;}

        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #ffffff;
        }


        form {
            width: 670px;
            padding: 40px;
            position: absolute;
            top: 70%;
            left: 48%;
            transform: translate(-50%,-50%);
            background: #ffffff;
            text-align: left;
            color: black;
            margin-bottom: 10%;
            margin-top: 100px;
            margin-right: 20%;
            margin-left: 50px;
        }

        table, td, th {
            border: 1px solid #3333ff;
            text-align: left;
            border-left: 20%;
            font-family: Arial;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }

        .div.text {
            padding-left: 100px;
            font-family: Arial
        }

        .h1 {
            margin-left: 500px;
            margin-top: 20px:
        }

        .my_button {
            font-size: 12px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 250px;
            height: 45px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 200px;
            margin-top: 100px;
        }

        .btn_button {
            font-size: 12px;
            font-weight: bold;
            border: 0;
            color: #fff;
            width: 250px;
            height: 45px;
            border-radius: 4px;
            background: #119ee7;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease-out 0s;
            padding: 14px 40px;
            margin-left: 200px;
            margin-top: 100px;
        }
        .UpdateEmployee input[type= "text"] {
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 80%;
            height: 39px;
            padding: 6px 10px;
            margin-left: 0px outline: none;
            border-width: 1px;
            border-style: solid;
            border-radius: 0;
            background: #fff;
            font: 15px/23px 'Raleway', sans-serif;
            color: #404040;
            appearance: normal;
            -moz-appearance: none;
            -webkit-appearance: none;
        }

    </style>
</head>

<body onload="startTime()">

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title"> WELCOME <span>!</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                   <li><div id="txt" ></div></li>
                    
                    
                </ul>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="sidebar-menu">
                <ul>
                    <li class="item">
                        <a href="@Url.Action("Dash_board", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>


                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-plus-circle"></i><span>Items <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })">
                                <span> Add Items</span>
                            </a>
                        </div>
                    </li>

                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Stock <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_stock", "Stock", new { area = "Admin" })"><span>Add Stock</span></a>


                        </div>
                    </li>


                    <li class="item" id="r">
                        <a href="#r" class="menu-btn">
                            <i class="fas fa-file"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Report", "Stock", new { area = "Admin" })"><span>Avaiilable Stock Report</span></a>
                            <!--<a href="#"><span>Low Stock</span></a>-->

                        </div>
                    </li>


                    <li class="item">
                        <a href="@Url.Action("User_Profile", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="far fa-user-circle"></i><span>User Profile</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("Logout", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-power-off"></i><span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
         @{ Html.BeginForm(new { area = "Admin", controller = "Home", action = "updateEmp", @class = "UpdateEmployee" }); }
<table>
    <caption><h1>Employee Profile</h1></caption>
    <tr>
        <td> Employee ID: </td>
        @*
                <td>@hr_id[e]</td>

            <td> @Model.eid </td>*@
        <td> @(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"",""))</td>
    </tr>
    <tr>
        <td> NIC Number: </td>
        @*
            <td>@hr_nic[e]</td>
        *@
        <td><input type="text" name="nic" value="@Model.nic" /></td>
    </tr>

    <tr>

        <td> Full Name: </td>
        @*
            <td> @hr_address[e]</td>
        *@

        <td><input type="text" name="fname" value="@Model.fname" /></td>


    </tr>

    <tr>

        <td> Address : </td>
        @*
            <td> @hr_address[e]</td>
        *@

        <td><input type="text" name="address" value="@Model.address" /></td>


    </tr>

    <tr>

        <td> Email : </td>
        @*
            <td>@hr_email[e]</td>
        *@

        <td><input type="text" name="email" value="@Model.email" /></td>



    </tr>


    <tr>

        <td> Phone : </td>
        @*
            <td>@hr_phone[e]</td>
        *@

        <td><input type="text" name="phone" value="@Model.phone" /></td>



    </tr>



</table>
    <button name="EmployeeUpdate" class="btn_button">Update My Account</button>
    <input type="button" name="Delete-btn" value="Delete My Account" class="btn_button" onclick="DeleteEmp()" />
@{ Html.EndForm();}
           
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });


        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }


        var today = new Date();

        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        document.getElementById("pi"), innerHTML = date;
        //added
        function DeleteEmp() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "delete");
            form.setAttribute("name", "delete");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("DeleteEmp", "Home", new { area = "Admin" })');

            document.body.appendChild(form);
            document.delete.submit();
        }
    </script>

</body>
</html>
