﻿@*c
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/css/stock_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

    <style>

        #txt{
            color:#ffffff;}
    </style>
</head>

<body onload="startTime()">

    <div class="wrapper">
        <div class="header">
            <div class="header-menu">
                <div class="title"> WELCOME <span>!</span></div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <ul>
                   <li><div id="txt" ></div></li>
                    
                    
                </ul>
            </div>
        </div>
        
        <div class="sidebar">
            <div class="sidebar-menu">
                <ul>
                    <li class="item">
                        <a href="@Url.Action("Dash_board", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>


                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-plus-circle"></i><span>Items <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_items", "Stock", new { area = "Admin" })">
                                <span> Add Items</span>
                            </a>
                        </div>
                    </li>

                    <li class="item" id="messages">
                        <a href="#messages" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Stock <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Add_stock", "Stock", new { area = "Admin" })"><span>Add Stock</span></a>


                        </div>
                    </li>


                    <li class="item" id="r">
                        <a href="#r" class="menu-btn">
                            <i class="fas fa-file"></i><span>Report <i class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="@Url.Action("Report", "Stock", new { area = "Admin" })"><span>Avaiilable Stock Report</span></a>
                            <!--<a href="#"><span>Low Stock</span></a>-->

                        </div>
                    </li>


                    <li class="item">
                        <a href="@Url.Action("User_Profile", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="far fa-user-circle"></i><span>User Profile</span>
                        </a>
                    </li>

                    <li class="item">
                        <a href="@Url.Action("Logout", "Stock", new { area = "Admin" })" class="menu-btn">
                            <i class="fas fa-power-off"></i><span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
           
            <h2><center>WELCOME </center></h2><br />
            <h4><center>TO</center></h4><br />
            <h2><center>STOCK MANAGEMENT SYSTEM </center></h2>


           
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
        $(document).ready(function(){
            $(".sidebar-btn").click(function(){
                $(".wrapper").toggleClass("collapse");
            });
        });


        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }


        var today = new Date();

        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
        document.getElementById("pi"), innerHTML = date;
    </script>

</body>
</html>
