﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to MyLodge Application</h1>
        <p>There are two areas: User and Admin</p>
        <style>
            .style-form [type=submit] {
                background-color: forestgreen;
                color: white;
                font-size: 12px;
                padding: 12px 16px;
                border: none;
                cursor: pointer;
            }
        </style>
        @{ Html.BeginForm("Route", "Home", FormMethod.Post, new { @class = "style-form" });
        }
        <input type="submit" name="submitButton" class="btn btn-primary" value="User" />
        <input type="submit" name="submitButton" class="btn btn-primary" value="Admin" />
        <input type="submit" name="submitButton" class="btn btn-primary" value="Chat" />
        <!--Added-->
        <input type="submit" name="submitButton" class="btn btn-primary" value="View members" />
        <input type="submit" name="submitButton" class="btn btn-primary" value="View contactus" />
        <input type="submit" name="submitButton" class="btn btn-primary" value="View room reservation" />
        <input type="submit" name="submitButton" class="btn btn-primary" value="View hall reservation" />
        @{Html.EndForm();
        }
        <p style="color:red">@ViewBag.btnPress</p>
    </div>
