﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .setFooter {
        clear: both;
        position: relative;
        border: 1px solid black;
        margin-top: -200px;
    }
</style>
<div style="border:1px solid black">
    <span>Hotel Management System Project for SLIIT ITP2020<br />Contact us:xyz@@my.slit.lk or abc@@my.sliit.lk</span>
</div>