﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model AuraStatsView
<!DOCTYPE html>
<html>
<head>
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <link rel="stylesheet" type="text/css" href="~/css/w3schools_slider.css">
    <style>
        :root {
            --left-margin: 4%;
        }

        .btn {
            border: 1px solid black;
            border-radius: 5px;
            background-color: transparent;
        }

        .aura-stats {
            position: relative;
            top: 70px;
            left: var(--left-margin);
        }

            .aura-stats span {
                position: relative;
                top: 70px;
                left: var(--left-margin);
                font-size: 20px;
                border: 1px solid black;
            }

            .aura-stats.setTable {
                border: 1px solid black;
                width: 25%;
                font-size: 18px;
            }

        .slide-btns {
            position: relative;
            top: 160px;
            left: calc(var(--left-margin)*2);
            font-size: 18px;
            border: 1px solid black;
            width: 25%;
        }

        .align-logs {
            position: relative;
            top: 190px;
            left: calc(var(--left-margin)*2);
            width: 25%;
        }

            .align-logs span {
                border: 1px solid black;
                padding: 5px;
                font-size: 20px;
            }

            .align-logs.logs {
                border: 1px solid black;
                overflow: scroll;
                top: 4px;
                left: 0%;
                width: 100%;
                font-size: 12px;
            }

        .align-reply-box {
            position: absolute;
            float: right;
            right: 130px;
            top: 30%;
            width: 30%;
            border: 1px solid black;
            padding: 4px;
        }

            .align-reply-box span {
                position: relative;
                padding: 5px;
                top: 4px;
            }

            .align-reply-box button {
                position: relative;
                float: right;
                top: 0px;
                right: 2px;
            }

            .align-reply-box hr {
                border-top: 1px solid lightyellow;
            }

        #response-style span {
            border: 2px solid #0377fc;
            background-color: #0377fc;
            border-radius: 8px;
            color: #ffffff;
            padding: 6px;
            float: left;
        }

            #response-style span::after {
                float: left;
            }

        #question-style span {
            border: 2px solid #0377fc;
            background-color: #0377fc;
            color: #ffffff;
            border-radius: 8px;
            padding: 6px;
            float: right;
        }

            #question-style span::after {
                float: right;
            }

        #msg {
            width: 100%;
            height: 5%;
            border-radius: 8px;
        }
    </style>
</head>
<body style="background-color: beige;overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        <div class="nav-bar-btn-round">
            <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
            <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
        </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
            <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    <script>
        function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
    </script>
    <div class="aura-stats">
        <span>Aura System</span>
        <div class="aura-stats setTable">
            <table>
                <tr>
                    <td>Inquiries in Queue</td>
                    <td>@Model.Inquiries_incoming</td>
                </tr>
                <tr>
                    <td>Inquiries on Handle</td>
                    <td>@Model.Inquiries_handled</td>
                </tr>
                <tr>
                    <td>Forwarded</td>
                    <td>@Model.Inquiries_forwarded</td>
                </tr>
                <tr>
                    <td>Total Inquiries recieved today</td>
                    <td>@Model.Total_received_today</td>
                </tr>
                <tr>
                    <td>Total Inquiries processed today</td>
                    <td>@Model.Total_handled</td>
                </tr>
                <tr>
                    <td>Total spam Inquiries Identified today</td>
                    <td>@Model.Total_spam</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="slide-btns">
        <form>
            <table>
                <tr>
                    <td style="width: 78%;">
                        Aura(Auto-Response) System
                    </td>
                    <td>
                        <label class="switch">
                            @if (Model.AuraSystemOn)
                            {
                                <input type="checkbox" id="auraSwitch" onchange="handleAura()" checked>
                            }
                            else
                            {
                                <input type="checkbox" id="auraSwitch" onchange="handleAura()">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        FAQ Auto-update
                    </td>
                    <td>
                        <label class="switch">
                            @if (Model.AutoUpdateFAQ)
                            {
                                <input type="checkbox" id="auraFAQSwitch" onchange="handleAuraFAQ()" checked>
                            }
                            else
                            {
                                <input type="checkbox" id="auraFAQSwitch" onchange="handleAuraFAQ()">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>

    </script>
    <div class="align-logs">
        <span>Logs</span>
        <div class="align-logs logs">
            <table>
                @{ int numOfLogs = 0;

                    List<string> dates = new List<string>();
                    List<int> chat_id = new List<int>();
                    if (!(Model.GetChatDates() is null))
                    {
                        dates = Model.GetChatDates();
                        chat_id = Model.GetChatIds();
                        foreach (var item in Model.GetChatDates())
                        {
                            numOfLogs++;
                        }
                    }

                }
                <tr>
                    @{
                        for (int i = 0; i < numOfLogs; i++)
                        {
                            <td>
                                <img src="~/img/description-24px.svg" onclick="requestLog('@chat_id[i]')">
                            </td>
                        }
                    }
                </tr>
                <tr>
                    @{
                        for (int i = 0; i < numOfLogs; i++)
                        {
                            <td>@dates[i]</td>
                        }
                    }
                </tr>
                @{
                    if (numOfLogs == 0)
                    {
                        <tr><td>Currently No Logs!</td></tr>
                    }
                }

            </table>

        </div>
    </div>
    <script>
        function requestLog(chat_id) {
            var form = document.createElement("FORM");
            form.setAttribute("id", "logForm");
            form.setAttribute("name", "logForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("GetLogView", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);

            var setchatid = document.createElement("INPUT");
            setchatid.setAttribute("type", "text");
            setchatid.setAttribute("name", "chat_id");
            setchatid.setAttribute("value", chat_id);
            setchatid.setAttribute("hidden", "hidden");
            document.getElementById("logForm").appendChild(setchatid);
            document.logForm.submit();
        }
        function handleAura() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "auraForm");
            form.setAttribute("name", "auraForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("ToggleAura", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            //to identify which button
            var who = document.createElement("INPUT");
            who.setAttribute("type", "text");
            who.setAttribute("name", "AuraSwitch");
            who.setAttribute("value", "AuraSelfSwitch");
            who.setAttribute("hidden", "hidden");//don't show text box
            document.getElementById("auraForm").appendChild(who);
            //new input text box to pass toggle
            var auraOff = document.createElement("INPUT");
            auraOff.setAttribute("type", "text");
            auraOff.setAttribute("name", "turnOff");
            var checkbx = document.getElementById("auraSwitch");
            if (checkbx.checked == true) {
                auraOff.setAttribute("value", "false");//turn on
            } else {
                auraOff.setAttribute("value", "true");//turn off
            }
            auraOff.setAttribute("hidden", "hidden");//don't show text box
            document.getElementById("auraForm").appendChild(auraOff);
            document.auraForm.submit();
        }
        function handleAuraFAQ() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "auraForm");
            form.setAttribute("name", "auraForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("ToggleAura", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            //to identify which button
            var who = document.createElement("INPUT");
            who.setAttribute("type", "text");
            who.setAttribute("name", "AuraSwitch");
            who.setAttribute("value", "AuraFAQSwitch");
            who.setAttribute("hidden", "hidden");//don't show text box
            document.getElementById("auraForm").appendChild(who);
            //new input text box to pass toggle
            var auraOff = document.createElement("INPUT");
            auraOff.setAttribute("type", "text");
            auraOff.setAttribute("name", "turnOff");
            var checkbx = document.getElementById("auraFAQSwitch");
            if (checkbx.checked == true) {
                auraOff.setAttribute("value", "false");//turn on
            } else {
                auraOff.setAttribute("value", "true");//turn off
            }
            auraOff.setAttribute("hidden", "hidden");//don't show text box
            document.getElementById("auraForm").appendChild(auraOff);
            document.auraForm.submit();
        }
    </script>
    <div class="align-reply-box">
        <span>Pending Replies: @ViewBag.fcount<button class="btn">Handle</button></span>
        <hr />
        <div>
            @if (ViewBag.Collection != null)
            {

                var listSize = ViewBag.Collection.Count;
                var i = 0;
                while (i < listSize)
                {
                    var str = ViewBag.Collection[i];
                    var strl = str.Length - 2;
                    if (str.ToString().Substring(0, 2) == "r:")
                    {
                        //ByPerson
                        <div id="question-style">
                            <span>@str.ToString().Substring(2, strl)</span>
                        </div>
                        <hr style="clear:both;height:1px;" />
                    }
                    if (str.ToString().Substring(0, 2) == "p:")
                    {
                        //ShowReply
                        <div id="response-style">
                            <span>@str.ToString().Substring(2, strl)</span>
                        </div>
                        <hr style="clear:both;height:1px;" />

                    }
                    i += 1;
                }
            }
        </div>
        @using (Html.BeginForm(new { area = "Admin", controller = "CSM", action = "CSMChat" }))
        {
            <textarea id="msg" name="msg"></textarea>
            <input type="submit" value="Send" />
            <script>
                /*
                document.write('<pre>');
                var width = document.getElementById('center').clientWidth / 8.5;//with 8.5 font size?
                for (var i = 0; i < width; i++) {
                    document.write('&nbsp;');
                }
                document.write('<input type="submit" value="Send" />');
                document.write('</pre>');
                */
            </script>
        }
    </div>
    <script>
        document.getElementById("Dashboard").style.borderColor = "black";
        setInterval(RequestDashboard, 1 * 60000); //NOTE: period is passed in milliseconds
    </script>
    <script src="~/js/render-footer.js" type="text/javascript">
        createfooter();
    </script>
    <div style="position:relative;border:1px solid black;text-align:center;top:calc(50vh - 50px);">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>
    </div>
    @*
        ============= Sample Test ====================
        <div>
            <table>
                <tr>
                    @{int j = 0;
                    foreach (var list in ViewBag.ar)
                    {
                        <td>@list</td>
                        if (++j%6 == 0) {
                                @:</tr><tr>
                        }
                    }
                    }
                </tr>
            </table>
        </div>
    *@
</body>
</html>
