﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model FAQ_dataView
<!DOCTYPE html>
<html>
<head>
    <title>
        FAQ Data
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        :root {
            --faq-font-color: black;
            --faq-border-color: grey;
            --body-bg-color: beige;
        }

        .faq_table {
            position: relative;
            top: 120px;
            left: 6%;
            overflow-y: scroll;
            width: 50%;
            border: 1px solid var(--faq-border-color);
        }

            .faq_table.faq td {
                font-weight: bold;
                font-size: 20px;
                color: var(--faq-font-color);
            }

        .control-btn {
            position: relative;
            padding: 4px;
            left: 6%;
            top: 90px;
            width: 50%;
            border: 1px solid transparent;
        }

            .control-btn button {
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
                text-align: center;
                text-decoration: none;
                width: 20%;
            }

            .control-btn p {
                margin-top: 0.6em;
                margin-bottom: 0em;
            }

        .faqForm {
            position: absolute;
            top: 30%;
            left: 60%;
            width: 50%;
        }

            .faqForm text {
                width: 100px;
            }

        .btn-red {
            background-color: var(--body-bg-color);
            border: none;
            color: orangered;
            padding: 8px 8px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn {
            background-color: var(--body-bg-color);
            border: none;
            color: black;
            padding: 8px 8px;
            font-size: 16px;
            cursor: pointer;
        }

        .btn-green {
            background-color: forestgreen;
            border: none;
            color: ghostwhite;
            padding: 8px 8px;
            font-size: 12px;
            cursor: pointer;
        }
        .btn-blue {
            background-color: dodgerblue;
            border: none;
            color: ghostwhite;
            padding: 8px 8px;
            font-size: 12px;
            cursor: pointer;
        }
        .btn-white {
            background-color: white;
            border: none;
            color: black;
            padding: 8px 8px;
            font-size: 12px;
            cursor: pointer;
        }

        .newFAQ-form {
            display: none;
        }
    </style>
</head>
<body style="background-color: var(--body-bg-color);overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        <div class="nav-bar-btn-round">
            <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
            <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
        </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
            <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    <script>
        function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
    </script>
    <div class="control-btn">
        <button type="button" class="btn-white" id="newFAQ" onclick="saveNewFaq()">New</button>
        <a id="fdlink" style="display:none;" href="@Url.Action("GetTable2Excel", "CSM", new { area = "Admin" })" download></a>
        <button id="dbtn" class="btn-blue" onclick="clickLink()">Download As Excel</button>
        <button id="demo-edit" class="btn-white" onclick="demo_edit()">Demo-Edit</button>
        <button id="demo-add" class="btn-white" onclick="demo_add()">Demo-Add</button>
    </div>
    <div class="faqForm">
        @using (Html.BeginForm("EditFAQ_data", "CSM", new { area = "Admin" }, FormMethod.Post, false, new { @name = "faqForm2", @class = "newFAQ-form", @id = "newFAQ-form" }))
        {
            <input type="text" value="-1" name="Faq_id" hidden="hidden" />
            <label>Enter Question</label><br />
            <textarea cols="70" placeholder="Enter Question" id="faq_form_qs" name="Question"></textarea><br />
            <label>Enter Answer</label><br />
            <textarea cols="70" placeholder="Enter Answer" id="faq_form_ans" name="Answer"></textarea><br />
            <input type="submit" value="Save" class="btn-green" />
        }
    </div>
    <div class="faq_table">
        <table id="faqList" name="faqList">
            @{
                List<int> ids = Model.GetFAQIds();
                //ids.OrderBy(i => i);
                List<string> qs = Model.GetQuestions();
                List<string> ans = Model.GetAnswers();
                List<List<string>> keywords = Model.GetKeywords();
                int i = 0;
                if (!(qs is null))
                {
                    i = qs.Count;
                }
                for (int e = 0; e < i; e++)
                {
                    <tr class="faq_table faq">
                        <td id="q.@e">@(e+1). @qs[e]</td>
                    </tr>
                    <tr>
                        <td id="a.@e">@ans[e]</td>
                        <td><button type="button" id="saveFAQ.@e" onclick="saveFAQ(@e)" class="btn-green" style="display:none;">Save</button></td>
                        <td><button type="button" id="updateFAQ" onclick="editFAQ(@e)" class="btn"><i class="fa fa-edit"></i></button></td>
                        <td><button type="button" id="deleteFAQ" onclick="DeleteFAQ(@e)" class="btn-red"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                @*
                                    @for (int j = 0; j < keywords[e].Count; j++)
                                    {
                                        @(keywords[e][j] + ",")
                                    }
                                *@
                            </p>
                            @if ((e + 1) != i)
                            {
                                <hr />
                            }
                        </td>
                    </tr>

                }

            }
        </table>
        
    </div>
    <script>
        var edit_index = -1;
        function demo_edit() {
            if (edit_index != -1) {
                var faq = "  What types of credit cards can I use for my booking?";
                var ans = "Currently we only accept Visa, Mastercards, American Express and Discover.";
                document.getElementById(("q.").concat(edit_index)).innerHTML = faq;
                document.getElementById(("a.").concat(edit_index)).innerHTML = ans;
            }
        }
        function demo_add() {
            var faq = "What types of credit cards can I use for my booking?";
            var ans = "We accept Visa, Mastercards, American Express, Discover, NSB and HSBC";
            document.getElementById("faq_form_qs").value = faq;
            document.getElementById("faq_form_ans").value = ans;
        }
        function saveNewFaq() {
            document.getElementById("newFAQ").disabled = true; //prevent more forms
            document.getElementById("newFAQ-form").style.display = 'block';
        }
        function saveFAQ(id) {
            //form
            var faqForm = document.createElement("FORM");
            faqForm.setAttribute("id", "faqsaveForm");
            faqForm.setAttribute("class", "faqForm");
            faqForm.setAttribute("method", "POST");
            faqForm.setAttribute("action", '@Url.Action("EditFAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(faqForm);
            //set id -1 for new faq
            var pk = document.createElement("INPUT");
            pk.setAttribute("type", "number"); //type is number
            pk.setAttribute("id", "faq_id");
            pk.setAttribute("name", "FAQ_id");
            pk.setAttribute("value", id);
            pk.setAttribute("hidden", "hidden");
            document.getElementById("faqsaveForm").appendChild(pk);
            //question
            var qsRead = document.getElementById(("q.").concat(id)).innerHTML;
            var qsEdited = qsRead.substring(2, qsRead.length);
            alert("qsEdited: " + qsEdited);
            var qs = document.createElement("INPUT");
            qs.setAttribute("type", "text");
            qs.setAttribute("id", "qs");
            qs.setAttribute("name", "Question");
            qs.setAttribute("value", qsEdited);
            qs.setAttribute("hidden", "hidden");
            document.getElementById("faqsaveForm").appendChild(qs);
            //answer
            var ansEdited = document.getElementById(("a.").concat(id)).innerText;
            var ans = document.createElement("INPUT");
            ans.setAttribute("type", "text");
            ans.setAttribute("id", "ans");
            ans.setAttribute("name", "Answer");
            ans.setAttribute("value", ansEdited);
            ans.setAttribute("hidden", "hidden");
            document.getElementById("faqsaveForm").appendChild(ans);
            document.getElementById("faqsaveForm").submit();
        }
        function editFAQ(id) {
            edit_index = id;
            document.getElementById(("q.").concat(id)).setAttribute("contenteditable", "true");
            document.getElementById(("q.").concat(id)).style.backgroundColor = "white";
            document.getElementById(("a.").concat(id)).setAttribute("contenteditable", "true");
            document.getElementById(("a.").concat(id)).style.backgroundColor = "white";
            document.getElementById(("saveFAQ.").concat(id)).style.display = '';
        }
        function DeleteFAQ(id) {
            //form
            var faqForm = document.createElement("FORM");
            faqForm.setAttribute("id", "faqForm");
            faqForm.setAttribute("class", "faqForm");
            faqForm.setAttribute("method", "POST");
            faqForm.setAttribute("action", '@Url.Action("DeleteFAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(faqForm);

            var pk = document.createElement("INPUT");
            pk.setAttribute("type", "number"); //type is number
            pk.setAttribute("id", "faq_id");
            pk.setAttribute("name", "FAQ_id");
            pk.setAttribute("value", id);
            pk.setAttribute("hidden", "hidden");
            document.getElementById("faqForm").appendChild(pk);
            document.getElementById("faqForm").submit();
        }
        function clickLink() {
            document.getElementById("fdlink").click();
        }
        //table2Excel('tablename', 'name', 'myfile.xls')
        var table2Excel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta charset="utf-8"/><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name, filename) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }

                //download btn id
                document.getElementById("fdlink").href = uri + base64(format(template, ctx));
                document.getElementById("fdlink").download = filename;
                document.getElementById("fdlink").click();
            }
        })()
    </script>
    <div style="position:relative;border:1px solid black;text-align:center;top:calc(90vh - 90px);">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>
    </div>
</body>
<script>
    document.getElementById("faq_data").style.borderColor = "black";
</script>
</html>