﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model AuraChatView
<!DOCTYPE html>
<html>
<head>
    <title>
        Chat Log
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <style>
        :root {
            --faq-font-color: black;
            --faq-border-color: black;
            --left-margin: 10%;
        }

        .control-btn {
            position: relative;
            float: right;
            padding: 4px;
            right: 30%;
            top: 5%;
            width: 10%;
            border: 1px solid transparent;
        }

            .control-btn button {
                border: 1px solid black;
                border-radius: 5px;
                padding: 5px;
                text-align: center;
                text-decoration: none;
                width: 50%;
            }

            .control-btn p {
                margin-top: 0.6em;
                margin-bottom: 0em;
            }

        .setTable {
            position: relative;
            top: 150px;
            left: var(--left-margin);
            padding: 4px;
        }

        table, th, td {
            padding: 4px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="background-color: beige;overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>
        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        <div class="nav-bar-btn-round">
            <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
            <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
        </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
            <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    <script>
        function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
    </script>
    <div class="setTable">
        <table style="overflow-y:scroll">
            <thead>
                <tr>
                    <th>Entity</th>
                    <th>Text</th>
                </tr>
            </thead>
            @if (ViewBag.Collection != null)
            {

                var listSize = ViewBag.Collection.Count;
                var i = 0;
                while (i < listSize)
                {
                    var str = ViewBag.Collection[i];
                    var strl = str.Length - 2;
                    if (str.ToString().Substring(0, 2) == "p:")
                    {
                        <tr>
                            <td>person</td>
                            <td>@str.ToString().Substring(2, strl)</td>
                        </tr>
                    }
                    if (str.ToString().Substring(0, 2) == "r:")
                    {
                        <tr>
                            <td>aura</td>
                            <td>@str.ToString().Substring(2, strl)</td>
                        </tr>
                    }
                    i += 1;
                }
            }
        </table>
    </div>
    <div style="position:relative;border:1px solid black;text-align:center;top:calc(50vh - 50px);">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>
    </div>
</body>
</html>