﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <title>
        Aura Settings
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <style>
        :root {
            --left-margin: 100px;
            --nav-bar-bg-color: green;
            --nav-bar-bg-triangle-color: forestgreen;
        }

        .aura_sys {
            position: relative;
            top: 170px;
            left: var(--left-margin);
        }

            .aura_sys span {
                padding: 2px;
                border: 1px solid black;
            }

            .aura_sys button {
                width: 100%;
                border: 1px solid black;
                border-radius: 4px;
                text-decoration: none;
                display: inline-block;
            }

        .aura_sys_div {
            position: relative;
            top: 2px;
            border: 1px solid black;
            width: 20%;
        }

        .profile-colors {
            border: 1px solid black;
            width: 20%;
            position: relative;
            float: right;
            right: 15%;
            top: 130px;
            padding: 5px;
        }

            .profile-colors button {
                float: right;
                right: 10px;
                bottom: 10px;
                border: 1px solid black;
                border-radius: 4px;
            }

        .profile-colors-setimg {
            border: 1px solid black;
            width: 60px;
            height: 40px;
        }

        .buttonAzure {
            background-color: lightblue;
            border-radius: var(--btn--radius);
            color: var(--txt-color);
            border-color: lightblue;
        }

        .buttonGreen {
            background-color: green;
            border-radius: var(--btn--radius);
            color: white;
            border-color: green;
        }
    </style>
</head>
<body style="background-color: beige;overflow-x:hidden;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
        <div class="nav-bar-btn-round">
            <button id="Dashboard" onclick="RequestDashboard()">Dashboard</button>
            <button id="faq_data" onclick="RequestFAQData()">FAQ Data</button>
        </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
            <button id="sys_Settings" onclick="RequestSettings()">System Settings</button>
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    <script>
        function RequestDashboard() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "dForm");
            form.setAttribute("name", "dForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("Dashboard", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.dForm.submit();
        }
        function RequestFAQData() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "faqForm");
            form.setAttribute("name", "faqForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("FAQ_data", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.faqForm.submit();
        }
        function RequestSettings() {
            var form = document.createElement("FORM");
            form.setAttribute("id", "sysForm");
            form.setAttribute("name", "sysForm");
            form.setAttribute("method", "POST");
            form.setAttribute("action", '@Url.Action("CSMSettingsPage", "CSM", new { area = "Admin" })');
            document.body.appendChild(form);
            document.sysForm.submit();
        }
    </script>
    <div class="aura_sys">
        <span>Aura System</span>
        <div class="aura_sys_div">
            <table>
                <tr>
                    <td>AuraLogs</td>
                    <td><button class="buttonGreen">Read</button></td>
                    <td><button class="buttonGreen">Delete</button></td>
                </tr>
                <tr>
                    <td>FAQs</td>
                    <td><button class="buttonGreen">Read</button></td>
                    <td><button class="buttonGreen">Update</button></td>
                    <td><button class="buttonGreen">Delete</button></td>
                </tr>
            </table>
            <button type="button" class="buttonAzure" style="float: right;width: 40%;display: none;">Apply</button>
        </div>
    </div>
    <div class="profile-colors">
        <span>Use High Contrast</span>
        <table>
            <tr style="font-size: 13px;">
                <th>Background</th>
                <th>Text</th>
            </tr>
            <tr>
                <td><img class="profile-colors-setimg" src="~/img/black.jpg"></td>
                <td><img class="profile-colors-setimg" src="~/img/white.jpg"></td>
                <td><input type="radio" name="setColor" value="BaW"></td>
            </tr>
            <tr>
                <td><img class="profile-colors-setimg" src="~/img/black.jpg"></td>
                <td><img class="profile-colors-setimg" src="~/img/green.jpg"></td>
                <td><input type="radio" name="setColor" value="BaG"></td>
            </tr>
            <tr>
                <td><img class="profile-colors-setimg" src="~/img/black.jpg"></td>
                <td><img class="profile-colors-setimg" src="~/img/yellow.jpg"></td>
                <td><input type="radio" name="setColor" value="BaY"></td>
            </tr>
        </table>
        <span>Custom Colors</span>
        <table>
            <tr style="font-size: 13px;">
                <th>Background</th>
            </tr>
            <tr>
                <td><img class="profile-colors-setimg" src="~/img/white.jpg"></td>
                <td><input type="radio" name="setColory" id="rad1" onclick="setOptionUsingName('setColorx')" value="WB"></td>
            </tr>
            <tr>
                <td><img class="profile-colors-setimg" src="~/img/light-blue.jpg"></td>
                <td><input type="radio" name="setColorx" id="rad2" onclick="setOptionUsingName('setcolory')" value="BlueB"></td>
            </tr>
        </table>
        <button>Apply</button>
    </div>
    <script>
        function setOptionUsingName(checkbox_id) {
            var radio = document.getElementsByName(checkbox_id);
            if (radio[0].checked == true) {
                radio[0].checked = false;
            }
        }
    </script>
    <div style="position:relative;border:1px solid black;text-align:center;top:calc(82vh - 82px);">
        <span>
            Hotel Management System Project for SLIIT ITP 2020<br />
            Contact us: xyz@my.sliit.lk, abc@my.sliit.lk
        </span>
    </div>
</body>
</html>