﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Customer Support Page";
}
<style>
    :root {
        --set-chat-border-color: #EEF0F6;
    }

    #center {
        position: relative;
        margin: auto;
        top: 40px;
        width: 50%;
        padding: 2px;
        height: 80vh;
        overflow: auto;
        border-left: 1px solid var(--set-chat-border-color);
        border-right: 1px solid var(--set-chat-border-color);
    }

        #center hr {
            border-top: 1px solid transparent;
            background-color: transparent;
        }

    #response-style span {
        border: 2px solid #0377fc;
        background-color: #0377fc;
        border-radius: 8px;
        color: #ffffff;
        padding: 6px;
        float: left;
    }

        #response-style span::after {
            float: left;
        }

    #question-style span {
        border: 2px solid #0377fc;
        background-color: #0377fc;
        color: #ffffff;
        border-radius: 8px;
        padding: 6px;
        float: right;
    }

        #question-style span::after {
            float: right;
        }

    #msg {
        width: 100%;
        height: 5%;
        border-radius: 8px;
    }
    .custom_demo{
        background-color:forestgreen;
        color:floralwhite;
        padding:4px;
        font-size:12px;
        display:block;
    }
</style>
@Html.Raw(ViewBag.setToRefresh)
<head>

    <title>Hotel</title>

    <script src="~/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>


    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="~/img/logo/m1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="homepage.aspx">Home</a></li>

                                        <li>
                                            <a href="#">Reservation</a>
                                            <ul class="submenu">
                                                <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="@Url.Action("Chat", "AuraChatFaq")">Contact Us</a></li>
                                        <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq") ">FAQ</a></li>
                                        <li><a href="~/Views/Customer/UserProfile.cshtml">Sign Up</a></li>
                                        <li><a href="~/Views/Customer/UserLogin.cshtml">Login</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    @*
        end of header
    *@
    <hr style="border-top: 1px solid var(--set-chat-border-color)" />
    <div id="center">
        @if (ViewBag.Collection != null)
        {
            <script>
                document.getElementById("center").innerHTML = '';
            </script>
            var listSize = ViewBag.Collection.Count;
            var i = 0;
            while (i < listSize)
            {
                var str = ViewBag.Collection[i];
                var strl = str.Length - 2;
                if (str.ToString().Substring(0, 2) == "p:")
                {
                    //ByPerson
                    <div id="question-style">
                        <span>@str.ToString().Substring(2, strl)</span>
                    </div>
                    <hr style="opacity: 0;clear: both; height: 1px;" />
                }
                if (str.ToString().Substring(0, 2) == "r:")
                {
                    //ShowReply
                    <div id="response-style">
                        <span>@str.ToString().Substring(2, strl)</span>
                    </div>
                    <hr style="opacity: 0;clear: both; height: 1px;" />

                }
                i += 1;
            }
        }
        else
        {
            <div id="reponse-style">
                <p>Hello! How can Customer Support help you?</p>
            </div>
        }
        <form name="form1" method="get" asp-controller="AuraChatFaq" asp-action="GetResult">
            <textarea id="msg" name="msg"></textarea>
            <script>
                document.write('<pre>');
                /*
                var width = document.getElementById('center').clientWidth / 8.5;//with 8.5 font size?
                for (var i = 0; i < width; i++) {
                    document.write('&nbsp;');
                }*/
                document.write('<input type="submit" value="Send" class="btn-success" style="float:right;right:0;" />');
                document.write('<input type="button" value="Demo" class="btn-outline-success" onclick="generateDemo()" style="float:right;" />');
                document.write('<input type="button" value="DemoEnd" class="btn-outline-success" onclick="generateDemoEnd()" style="float:right;" />');
                document.write('</pre>');

                function generateDemo() {
                    var spam = "We have infected your site with Ransomware, quick before tommorrow midnight pay 30k usd to this address 1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2 or forever loose all your data!";
                    var array = ["Hello, How can I check If my reservation is confirmed?", "Hello, I'd like to reset my account, my nic is 123C and my email is a@b.c", spam];
                    var select = array[Math.floor(Math.random() * 3)];
                    document.getElementById("msg").value = select;
                }
                function generateDemoEnd() {
                    var array = ["Thank you!", "Alright, Thank you!","Gracias!"];
                    var select = array[Math.floor(Math.random() * 3)];
                    document.getElementById("msg").value = select;
                }
            </script>
        </form>
    </div>
    <script type="text/javascript">
        //scroll to bottom
        var e = document.getElementById('center');
        e.scrollTop = e.scrollHeight;
    </script>
    <br />
    <br />
    <br />
    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/img/logo/l1.jpg" heigt="100" width="200" />
                                </a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    Copyright &copy;
                                    <a>
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About Lavish</a></li>
                                    <li><a href="#">Our Best Rooms</a></li>
                                    <li><a href="#">Hall Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Reservations</h4>
                                <ul>
                                    <li><a href="#">Tel: 0112707694</a></li>
                                    <li><a href="#">Skype: Lavishbooking</a></li>
                                    <li><a href="#">reservations@lavish.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Our Location</h4>
                                <ul>
                                    <li><a href="#">198 west 21th Street,</a></li>
                                    <li><a href="#">Colombo 6</a></li>
                                </ul>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/img/logo/form-iocn.jpg" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>