:root{
    --nav-bar-border-color: black;
    --nav-bar-bg-color:green;
    --nav-bar-bg-triangle-color:darkgreen;
    --nav-profile-color: rgba(255, 255, 255, 0.966);
    --nav-profile-bg-color: transparent;
    --nav-profle-hover-color:black;
    --nav-profile-hover-bg: rgba(13, 179, 13, 0.829);
    --nav-profile-dropdown-bg-color: rgba(0, 128, 0, 0.384);
    --nav-profile-dropdown-color:
    --nav-profile-dropdown-hover-bg-color: green;
    
}
.nav-bar-rect{
    border: 1px solid var(--nav-bar-border-color);
    background-color: var(--nav-bar-bg-color);
    border-radius: 100px;
    padding: 20px;
    width: 97%;
    height: 8px;
}
.nav-bar-triangle {
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 0;
    height: 0;
    bottom: 103px;
    z-index: 0;
    left: 47%;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 70px solid var(--nav-bar-bg-triangle-color);
}
.nav-bar-logo{
    position: relative;
    left:49%;
    bottom: 50px;
    width: 5%;
    z-index: 1;
}
.nav-bar-manager{
    border: 1px solid var(--nav-bar-border-color);
    position: relative;
    text-align: center;
    color: var(--nav-profile-color);
    border-radius: 100px;
    padding: 5px;
    width: 13%;
    height: 10px;
    top:-6px;
}
.nav-bar-manager span{
    position: relative;
    top:-5px;
    display: inline-block;
    vertical-align: middle;
}
.head{
    text-align: center;
    width: 100%;
    height: 5px;
    padding: 20px;
}
.nav-bar-profile-img{
    position: relative;
    float:right;
    right: 0%;
    top:-31px;
}
.nav-bar-profileName{
    position: relative;
    float:right;
    right: 2%;
    top:-42px;
}
.dropbtn {
    background-color: var(--nav-profile-bg-color);
    color: var(--nav-profile-color);
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: var(--nav-profile-hover-bg)}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--nav-profile-hover-bg);
    color: var(--nav-profle-hover-color);
}
.nav-bar-btn-round button{
    border:1px solid var(--nav-bar-bg-color);
    background-color: var(--nav-bar-bg-color);
    color: var(--nav-profile-color);
    position: relative;
    font-size: 15px;
    padding: 4px;
    border-radius: 100px;
    left:28%;
    top:-30px;
    margin-left: 30px;
}
.nav-bar-btn-round button:hover{
    border:1px solid var(--nav-bar-border-color);
}
.nav-bar-btn-round-after-logo button{
    border:1px solid var(--nav-bar-bg-color);
    background-color: var(--nav-bar-bg-color);
    color: var(--nav-profile-color);
    position: relative;
    font-size: 15px;
    padding: 4px;
    border-radius: 100px;
    left:58%;
    top:-114px;
    margin-left: 30px;
}
.nav-bar-btn-round-after-logo button:hover{
    border:1px solid var(--nav-bar-border-color);
}
.nav-bar-btn-square{
    border:1px solid var(--nav-bar-bg-color);
    background-color: var(--nav-bar-bg-color);
    color: var(--nav-profile-color);
    position: relative;
    font-size: 15px;
    padding: 4px;
    left:28%;
    top:-31px;
    margin-left: 10px;
}
.nav-bar-btn-square:hover{
    border:1px solid var(--nav-bar-border-color);
}
.setFooter {
    clear: both;
    position: relative;
    border: 1px solid black;
    margin-top: -200px;
}