﻿.topic {
    font-family: "Comic Sans MS";
}

.tocen {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 52px;
    cursor: pointer;
}

body {
    background-image: url("de.jpg");
}
