#table {
		
		border-collapse: collapse;
		width: 100%;
		}

	#table td, #table th {
		border: 1px solid #ffffff;
		padding: 8px;
		color: white;
		background-color: white;
	}

	#table tr:nth-child(even) {
		background-color: #22242A;
	}



#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #22242A;
 
}

