﻿  body, html {
            background-color: #EBECF0;
        }

        body, p, input, select, textarea, button {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -0.2px;
            font-size: 16px;
        }

        div, p {
            color: #BABECC;
            text-shadow: 1px 1px 1px #FFF;
        }

        form {
            padding: 16px;
            width: 320px;
            margin: 0 auto;
        }

        .segment {
            padding: 32px 0;
            text-align: left;
        }

        input {
            border: 0;
            outline: 0;
            font-size: 16px;
            border-radius: 320px;
            padding: 16px;
            background-color: #EBECF0;
            text-shadow: 1px 1px 0 #FFF;
        }
        button {
            width:35px;
            height:35px;
            border: 0;
            outline: 0;
            font-size: 16px;
            border-radius: 320px;
            padding: 10px;
            margin-left:10px;
            background-color: #EBECF0;
            /*text-shadow: 1px 1px 0 #FFF;*/
        }

        label {
            display: block;
            margin-bottom: 24px;
            width: 100%;
            color: #777777;
        }

        input[type=text] {
            margin-right: 8px;
            box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
            width: 175px;
            height:35px;
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
            appearance: none;
            -webkit-appearance: none;
        }

           
           

        button {
            color: #61677C;
            font-weight: bold;
            /*box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;*/
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-weight: 600;
        }
        .editdeletebuttons {
            width: 100px;
            height: 35px;
            padding:10px;
            margin-left:10px;
        }

        /*button:hover {
            box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
        }*/

            /*button:active {
                box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF
            }*/

            button .icon {
                margin-right: 8px;
            }

            button.red {
                display: block;
                width: 100%;
                color: #AE1100;
            }
    