﻿@using MyLodge.proj1.Controllers;
@model CustomerView;


   
    <head>

        <title>Hotel</title>


        <link href="bootstrap/css/css.css" rel="stylesheet" />

        <link href="datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

        <link href="fontawesome/css/all.css" rel="stylesheet" />

        <link href="css/customstylesheet.css" rel="stylesheet" />


        <script src="~/bootstrap/js/jquery-3.5.1.slim.min.js"></script>

        <script src="~/bootstrap/js/popper.min.js"></script>
        <script src="~/bootstrap/js/bootstrap.min.js"></script>

        <!-- Jquery Mobile Menu -->
        <script src="~/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="~/js/gijgo.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="~/js/wow.min.js"></script>
        <script src="~/js/animated.headline.js"></script>
        <script src="~/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="~/js/jquery.scrollUp.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="~/js/contact.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="~/js/plugins.js"></script>
        <script src="~/js/main.js"></script>


        <!-- CSS here -->
        <link rel="stylesheet" href="~/css/bootstrapss.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/gijgo.css">
        <link rel="stylesheet" href="~/css/slicknav.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <link rel="stylesheet" href="~/css/slick.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/styles.css">
        <link rel="stylesheet" href="~/css/responsive.css">
        <style>
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .button2 {
                background-color: #008CBA;
            }
            /* Blue */
            .button3 {
                background-color: #f44336;
            }
            /* Red */
            .button4 {
                background-color: #e7e7e7;
                color: black;
            }
            /* Gray */
            .button5 {
                background-color: #555555;
            }
            /* Black */
        </style>
    </head>

    <body>

        <header>
            <!-- Header Start -->
            <div class="header-area header-sticky">
                <div class="main-header ">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="~/img/imgs/m1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <!-- main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        
                                        <ul id="navigation">
                                            <li><a href="@Url.Action("Home", "Home") ">Home</a></li>

                                            <li>
                                                <a href="#">Reservation</a>
                                                <ul class="submenu">
                                                    <li><a href="@Url.Action("Roomreserve", "Home") ">Room Reservation</a>
                                                    <li><a href="@Url.Action("Hallreserve", "Home") ">Hall Reservation</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="@Url.Action("AboutUs", "Home") ">About Us</a></li>
                                            <li><a href="@Url.Action("Chat", "AuraChatFaq") ">Contact Us</a></li>
                                            <li><a href="@Url.Action("GetFAQPage", "AuraChatFaq")">FAQ</a></li>
                                            <li><a href="@Url.Action("Signup", "Home") ">Sign Up</a></li>
                                            <li><a href="@Url.Action("UserProfile", "Home") ">User Profile</a></li>
                                            <li><a href="@Url.Action("LogoutUser", "Home") ">Logout</a></li>
                                        </ul>
                                        </nav>
</div>
                            </div>

                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        </header>
      @{ Html.BeginForm("UpdateCustomer", "Home", FormMethod.Post);}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <img width="100" src="~/img/imgs/generaluser.png" />
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Your Profile</h4>
                                        <span>Customer ID - </span>
                                        <Label class="badge badge-pill badge-info">@Model.Cusid</Label>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Full Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Fullname" value="@Model.Fullname">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Date of Birth</label>
                                    <div class="form-group">
                                        <input type="datetime" class="form-control" name="DateofBirth" value="@Model.DateofBirth">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Contact No</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="ContactNo" value="@Model.ContactNo">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Email ID</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Email_id" value="@Model.Email_id">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>NIC/Passport</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Nic" value="@Model.Nic">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Country</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Country" value="@Model.Country">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Full Address</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Address" value="@Model.Address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <span class="badge badge-pill badge-info">Login Credentials</span>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="UserID" value="@Model.UserID">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Old Password</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="Password" value="@Model.Password">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-8 mx-auto">
                                    <center>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block btn-lg" name="cusupdate" style="background-color:dodgerblue">Update My details</button>
                                        </div>
                                    </center>
                                </div>
                                @{Html.EndForm();
                                }
                                <div class="col-8 mx-auto">
                                    <center>
                                        @{Html.BeginForm("DeleteCustomer", "Home", FormMethod.Post);}
                                        <div class="form-group">

                                            <button class="btn btn-primary btn-block btn-lg" name="Delete" style="background-color:red">Delete My Account</button>
                                        </div>

                                        @{Html.EndForm();
                                        }
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

              
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <img width="100" src="~/img/imgs/book-online.png" />
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <center>
                                        <h4>Your Reservations</h4>
                                        <Label class="badge badge-pill badge-info" Text="your reservations info"></Label>
                                    </center>
                                </div>
                            </div>
                          
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <GridView class="table table-striped table-bordered"></GridView>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr class="thead-dark">

                                    <th>Reservation ID</th>
                                    <th>Room type</th>
                                    <th>Check-in-date</th>
                                    <th>Check-out-date</th>
                                    <th>No of days</th>
                                    <th>Quantity of rooms</th>
                                                             
                                    <th>Payment Method</th>
                                    <th>Edit reservation</th>
                                    <th>Cancel reservation</th>
                                </tr>
                                <tr>
                                    @{
                                        int j = 0;
                                        foreach (var ar in ViewBag.collection)
                                        {
                                            <td>@ar</td>
                                            if (++j % 7 == 0)

                                            {
                                                Html.BeginForm("EditRoom", "Home", FormMethod.Post);
                                                <td> <button value="@ViewBag.collection[j - 7] " class="btn btn-primary btn-block " style="background-color:blue" name="id">Edit</button></td>
                                                Html.EndForm();
                                                Html.BeginForm("CancelRoom", "Home", FormMethod.Post);
                                                <td><button value="@ViewBag.collection[j - 7] " class="btn btn-primary btn-block" style="background-color:red" name="id">Cancel</button></td>
                                                Html.EndForm();
                                            @:</tr><tr>
                                            }
                                        }
                                    }



                                </tr>
                            </table>

</div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <!-- Footer Start-->
            <div class="footer-area black-bg footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html">
                                        <img src="~/img/imgs/l1.jpg" heigt="100" width="200" />
                                    </a>
                                </div>
                                <div class="footer-social footer-social2">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                                <div class="footer-pera">
                                    <p>
                                        Copyright &copy;
                                        <a>
                                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About Lavish</a></li>
                                        <li><a href="#">Our Best Rooms</a></li>
                                        <li><a href="#">Hall Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Reservations</h4>
                                    <ul>
                                        <li><a href="#">Tel: 0112707694</a></li>
                                        <li><a href="#">Skype: Lavishbooking</a></li>
                                        <li><a href="#">reservations@lavish.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Our Location</h4>
                                    <ul>
                                        <li><a href="#">198 west 21th Street,</a></li>
                                        <li><a href="#">Colombo 6</a></li>
                                    </ul>
                                    <!-- Form -->
                                    <div class="footer-form">
                                        <div id="mc_embed_signup">
                                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                                  method="get" class="subscribe_form relative mail_part">
                                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                       class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                       onblur="this.placeholder = ' Email Address '">
                                                <div class="form-icon">
                                                    <button type="submit" name="submit" id="newsletter-submit"
                                                            class="email_icon newsletter-submit button-contactForm">
                                                        <img src="~/img/imgs/form-iocn.jpg" alt="">
                                                    </button>
                                                </div>
                                                <div class="mt-10 info"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>

    </body>
