﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css">
    <link rel="stylesheet" type="text/css" href="~/css/w3schools_slider.css">
    <style>
        :root {
            --left-margin: 4%;
        }

        .btn {
            border: 1px solid black;
            border-radius: 5px;
            background-color: transparent;
        }

        .aura-stats {
            position: relative;
            top: 70px;
            left: var(--left-margin);
        }

            .aura-stats span {
                position: relative;
                top: 70px;
                left: var(--left-margin);
                font-size: 20px;
                border: 1px solid black;
            }

            .aura-stats.setTable {
                border: 1px solid black;
                width: 25%;
                font-size: 18px;
            }

        .slide-btns {
            position: relative;
            top: 160px;
            left: calc(var(--left-margin)*2);
            font-size: 18px;
            border: 1px solid black;
            width: 25%;
        }

        .align-logs {
            position: relative;
            top: 190px;
            left: calc(var(--left-margin)*2);
            width: 25%;
        }

            .align-logs span {
                border: 1px solid black;
                padding: 5px;
                font-size: 20px;
            }

            .align-logs.logs {
                border: 1px solid black;
                overflow: scroll;
                top: 4px;
                left: 0%;
                width: 100%;
                font-size: 12px;
            }

        .align-reply-box {
            position: absolute;
            float: right;
            right: 130px;
            top: 30%;
            width: 30%;
            border: 1px solid black;
        }

            .align-reply-box span {
                position: relative;
                padding: 5px;
                top: 4px;
            }

            .align-reply-box button {
                position: relative;
                float: right;
                top: 0px;
                right: 2px;
            }
    </style>
</head>
<body style="background-color: beige;">
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

        <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
        <div class="nav-bar-profileName">
            <div class="dropdown">
                <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
                <div class="dropdown-content">
                    <a href="@Url.Action("userAcc", "Home", new { area="Admin"})">Profile</a>
                    <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                    <a href="@Url.Action("userpro", "Home", new { area="Admin"})">View Employee Details</a>
                    <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
                </div>
            </div>
        </div>
    <div class="nav-bar-btn-round">

    </div>
        <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
        <div class="nav-bar-btn-round-after-logo">
           
        </div>
        <div class="nav-bar-triangle"></div>
    </div>
    <h1>If you are seeing this please contact your Admin!</h1>
    @*
    <div class="aura-stats">
        <span>Aura System</span>
        <div class="aura-stats setTable">
            <table>
                <tr>
                    <td>Inquiries in Queue</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Inquiries on Handle</td>
                    <td>15/15</td>
                </tr>
                <tr>
                    <td>Forwarded</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Total Inquiries recieved today</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Total Inquiries processed today</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Total spam Inquiries Identified today</td>
                    <td>5</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="slide-btns">
        <form>
            <table>
                <tr>
                    <td style="width: 78%;">
                        Aura(Auto-Response) System
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        FAQ Auto-update
                    </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="align-logs">
        <span>Logs</span>
        <div class="align-logs logs">
            <table>
                <tr>
                    <td>
                        <img src="~/img/description-24px.svg">
                    </td>
                    <td>
                        <img src="~/img/description-24px.svg">
                    </td>
                </tr>
                <tr>
                    <td>2020-09-05<br />22:44:01</td>
                    <td>2030-09-09<br />12:04:10</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="align-reply-box">
        <span>Pending Replies<button class="btn">Handle</button></span>
        <hr />
        <div>
            Text
        </div>
    </div>
        *@
</body>
</html>
