﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>

<head>

    <title>Add Customer</title>

    <link rel="stylesheet" href="~/css/add.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

</head>

<body style=background-color:beige;>

    <img src="~/img/check1.jpg" align="right" width="500" height="400">

    <br>
    <div>
        @{ Html.BeginForm("Customer", "Cus", FormMethod.Post);
        }

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <div class="col-md-9">
                                <label for="number">Customer Name :</label>
                                <input type="text" class="form-control" id="name" name="custName" placeholder="Enter the name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9">
                                <label for="number">Room Number : </label>
                                <input type="text" class="form-control" id="room" name="RoomNo" placeholder="Enter the room number"><br>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-9">
                                <label for="number">Phone Number : </label>
                                <input type="text" class="form-control" id="phone" name="phoneNo" placeholder="Enter the phone number"><br>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-9">
                                <label for="date3">Check In Date :</label><br><br>
                                <input type="date" class="form-control" id="date1" name="checkdate" placeholder="Enter the check-in date"><br><br>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9">
                                <label for="date3">Check Out Date :</label><br><br>
                                <input type="date" class="form-control" id="date2" name="checkOdate" placeholder="Enter the check-out date"><br><br>
                            </div>
                        </div>
                    </div>






                    <input class="btn btn-primary" type="submit" value="Add Customer Check-In Details" name="add"> <br>
                </div>
            </div>
        </div>
    </div>
    </div>


    @{Html.EndForm();
    }








</body>
</html>