﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>

<html>

<head>

    <title>Add Maintenance Details</title>

    <link rel="stylesheet" href="~/css/add.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

</head>

<body style=background-color:beige;>

    <script>
        function demobtn() {

            document.getElementById("number").value = "D11";
            document.getElementById("items").value = "Soaps, Newspapers, Magazines";

            document.getElementById("date3").value = "2020-10-02";
            document.getElementById("date4").value = "2020-10-19";

        }</script>

    <!--Added New-->
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>
    </div>
    <div class="nav-bar-profileName">
        <div class="dropdown">
            <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
            <div class="dropdown-content">
                <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
            </div>
        </div>
    </div>
    <br>
    <!--End of Added-->
    <img src="~/img/des.png" align="right" width="500" height="400">


    <div class="row">
        <div class="col">
            <div class="form-group">
                <button class="btn btn-primary" id="demo" name="signup" onclick="demobtn()" style="background-color:purple">DEMO</button>

            </div>
        </div>
    </div>

    <div>
        @{ Html.BeginForm("Maintenance", "Mint", FormMethod.Post);
        }




        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <!-- <form action="/action_page.php">-->
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Room Number</label>
                                    <input type="text" class="form-control" id="number" name="RoomNo" placeholder="Enter the room number">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Items need to be replaced : </label>

                                    <!---   <input type="checkbox" class="form-control" id="item1" name="item1" value="item1">
                <label for="vehicle1">Towels</label><br>
                <input type="checkbox" class="form-control" id="item2" name="item2" value="item2">
                <label for="vehicle2"> Flowers</label><br>
                <input type="checkbox" class="form-control" id="item3" name="item3" value="item3">
                <label for="vehicle3"> Magazines and Newspapers</label><br><br>
                -->

                                    <input type="text" class="form-control" id="items" name="Items" placeholder="Enter the items need to be replaced "><br>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Toiletries : </label>
                                    <!-- <input type="text" class="form-control" id="number" name="Toiletries" placeholder="Enter whether toiletries replaced or not"><br>
                -->

                                    <br>

                                    <input type="radio" id="number" name="Toiletries" value="Replaced">
                                    <label for="replace">Replaced</label><br>
                                    <input type="radio" id="number" name="Toiletries" value="Not Yet">
                                    <label for="other">Not Yet</label>




                                </div>
                            </div>




                            <p><u>Room Cleaning </u></p>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Last cleaned Date :</label><br><br>
                                    <input type="date" class="form-control" id="date3" name="LcleanDate" placeholder="Enter the last cleaned date"><br><br>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Next cleaning due Date :</label><br><br>
                                    <input type="date" class="form-control" id="date4" name="NcleanDate" placeholder="Enter the next cleaning due date"><br><br>
                                </div>
                            </div>
                        </div>






                        <input class="btn btn-primary" type="submit" value="Add Maintenance Details" name="add">
                        <br>
                        <!--Added-->
                        <a id="reqMTFromServer" href="@Url.Action("Maintenance", "Mint", new { area = "Admin" })" style="display:none"></a>
                        <script>
                            function reqMT() {
                                document.getElementById("reqMTFromServer").click();
                            }
                        </script>
                        <input class="btn btn-primary" onclick="reqMT()" type="button" value="View Maintenance Details" name="view">
                        <!--End-->
                        <br> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{Html.EndForm();
    }










</body>
</html>
