﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model CustomercheckView;

<!DOCTYPE html>
<html>
<head>

    <title>Customer check-in Details</title>
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        :root {
            --nav-bar-border-color: black;
            --nav-bar-bg-color: green;
            --nav-profile-color: rgba(255, 255, 255, 0.966);
            --nav-profile-bg-color: transparent;
            --nav-profle-hover-color: black;
            --nav-profile-hover-bg: rgba(13, 179, 13, 0.829);
            --nav-profile-dropdown-bg-color: rgba(0, 128, 0, 0.384);
            --nav-profile-dropdown-color: --nav-profile-dropdown-hover-bg-color: green;
        }

        .nav-bar-rect {
            border: 1px solid var(--nav-bar-border-color);
            background-color: var(--nav-bar-bg-color);
            border-radius: 100px;
            padding: 20px;
            width: 97%;
            height: 8px;
        }

        .nav-bar-triangle {
            position: relative;
            text-align: center;
            vertical-align: bottom;
            width: 0;
            height: 0;
            bottom: 103px;
            z-index: 0;
            left: 47%;
            border-left: 70px solid transparent;
            border-right: 70px solid transparent;
            border-top: 70px solid darkgreen;
        }

        .nav-bar-logo {
            position: relative;
            left: 49%;
            bottom: 50px;
            width: 5%;
            z-index: 1;
        }

        .nav-bar-manager {
            border: 1px solid var(--nav-bar-border-color);
            position: relative;
            text-align: center;
            color: var(--nav-profile-color);
            border-radius: 100px;
            padding: 5px;
            width: 13%;
            height: 10px;
            top: -6px;
        }

            .nav-bar-manager span {
                position: relative;
                top: -5px;
                display: inline-block;
                vertical-align: middle;
            }

        .head {
            text-align: center;
            width: 100%;
            height: 5px;
            padding: 20px;
        }

        .nav-bar-profile-img {
            position: relative;
            float: right;
            right: 0%;
            top: -31px;
        }

        .nav-bar-profileName {
            position: relative;
            float: right;
            right: 2%;
            top: -42px;
        }

        .dropbtn {
            background-color: var(--nav-profile-bg-color);
            color: var(--nav-profile-color);
            padding: 15px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: var(--nav-profile-hover-bg)
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: var(--nav-profile-hover-bg);
            color: var(--nav-profle-hover-color);
        }

        .nav-bar-btn-round button {
            border: 1px solid var(--nav-bar-bg-color);
            background-color: var(--nav-bar-bg-color);
            color: var(--nav-profile-color);
            position: relative;
            font-size: 15px;
            padding: 4px;
            border-radius: 100px;
            left: 28%;
            top: -30px;
            margin-left: 30px;
        }

            .nav-bar-btn-round button:hover {
                border: 1px solid var(--nav-bar-border-color);
            }

        .nav-bar-btn-round-after-logo button {
            border: 1px solid var(--nav-bar-bg-color);
            background-color: var(--nav-bar-bg-color);
            color: var(--nav-profile-color);
            position: relative;
            font-size: 15px;
            padding: 4px;
            border-radius: 100px;
            left: 58%;
            top: -114px;
            margin-left: 30px;
        }

            .nav-bar-btn-round-after-logo button:hover {
                border: 1px solid var(--nav-bar-border-color);
            }

        .nav-bar-btn-square {
            border: 1px solid var(--nav-bar-bg-color);
            background-color: var(--nav-bar-bg-color);
            color: var(--nav-profile-color);
            position: relative;
            font-size: 15px;
            padding: 4px;
            left: 28%;
            top: -31px;
            margin-left: 10px;
        }

            .nav-bar-btn-square:hover {
                border: 1px solid var(--nav-bar-border-color);
            }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .addbutton {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>


<body style=background-color:beige;>
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>

    </div>
    <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
    <div class="nav-bar-profileName">
        <div class="dropdown">
            <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
            <div class="dropdown-content">
                <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
            </div>
        </div>
    </div>
    <div class="nav-bar-btn-round">
        <a id="reqMTFromServer" href="@Url.Action("Maintenance", "Mint", new { area = "Admin" })" style="display:none"></a>
        <a id="reqMTAddFromServer" href="@Url.Action("Add", "Mint", new { area = "Admin" })" style="display:none"></a>
        <button onclick="reqMT()">Maintenance Table</button>
        <button onclick="reqMTAdd()">Add New</button>
        <script>
            function reqMT() {
                document.getElementById("reqMTFromServer").click();
            }
            function reqMTAdd() {
                document.getElementById("reqMTAddFromServer").click();
            }
        </script>
    </div>
    <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
    <div class="nav-bar-triangle"></div>
    <br>

    &nbsp;

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <h4>Search Customer Check-in Details</h4>
                            </div>
                        </div>


                        @using (Html.BeginForm(new { area = "Admin", controller = "Cus", action = "SearchMaint" }))
                        {
                            <div class="row">
                                <div class="col-md-5">

                                    @ViewBag.error
                                    <input class="form-control mr-sm-2" type="number" name="custId" placeholder="Customer ID" aria-label="Search">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-outline-success " style="background-color:forestgreen" type="submit" name="Login">Search</button>
                                </div>
                            </div>
                        }
                        @{Html.EndForm();}


                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>


                        <div class="row">

                            <label>Customer ID  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="custId" placeholder="Customer ID" value="@Model.custId" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Customer Name       </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="custName" placeholder="Customer Name" value="@Model.custName" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Room Number          </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="RoomNo" placeholder="Room Number" value="@Model.RoomNo" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Phone Number      </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phoneNo" placeholder="Phone Number" value="@Model.phoneNo" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <label>Check In Date  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="datetime" class="form-control" name="checkdate" placeholder="Check Date" value="@Model.checkdate" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <label>Check Out Date  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="datetime" class="form-control" name="checkOdate" placeholder="Checkodate" value="@Model.checkOdate" ReadOnly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{Html.EndForm();
    }

    <br /><br />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <center>
                        <h4>Generate Customer Report</h4>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <center>
                        @using (Html.BeginForm(new { area = "Admin", controller = "Cus", action = "GetMintTableExcel" }))
                        {
                            <a id="fdlink" download></a>
                            <button id="dbtn" onclick="clickLink()">Download As Excel</button>
                        }
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script>
        function clickLink() {
            document.getElementById("fdlink").click();
        }
    </script>

    </br></br>
    <center>
        <h2><u>Customer Check-In Details</u></h2>
    </center>

    <br>



    <table class="table table-striped">
        <tr class="thead-dark">
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Room Number</th>
            <th>Phone Number</th>
            <th>Check-In Date</th>
            <th>Check Out Date</th>

            <th colspan="2"> &nbsp;  &nbsp; &nbsp; &nbsp; Action</th>

        </tr>


        @{
            List<int> c = new List<int>();
            c = Model.GetCustomerID();

            List<string> custName = new List<string>();
            custName = Model.GetCustomerNames();



            List<string> RoomNo = new List<string>();
            RoomNo = Model.getRoomNumber();

            List<string> phoneNo = new List<string>();
            phoneNo = Model.Getphonenumber();

            List<DateTime> checkdate = new List<DateTime>();
            checkdate = Model.GetCheckinData();

            List<DateTime> checkOdate = new List<DateTime>();
            checkOdate = Model.Getcheckoutdata();

            int i = 0;
            if (!(RoomNo is null))
            {
                i = checkdate.Count;

            }

            for (int e = 0; e < i; e++)

            {

                <tr>
                    <td>@(c[e])</td>
                    <td>@custName[e]</td>
                    <td>@phoneNo[e]</td>
                    <td>@RoomNo[e]</td>
                    <td>@checkdate[e]</td>
                    <td>@checkOdate[e]</td>
                    <!-- <td><input onclick="myFunction()" style="background-color: #ff3333" type="submit" value="Delete" name="delete"></td>-->
                    @using (Html.BeginForm(new { area = "Admin", controller = "Cus", action = "Delete" }))
                    {
                        <input type="text" name="custId" value="@c[e]" style="display:none;" />
                        <td> <button style="background-color: red" class="btn btn-primary" id="button3" value="@c[e]" name="DeleteItem">Delete</button></td>
                    }
                    @{Html.EndForm();
                    }

                    @using (Html.BeginForm(new { area = "Admin", controller = "Cus", action = "EditMint" }))
                    {
                        <td><button style="background-color: #5cd65c" class="btn btn-primary" id="button1" value="@c[e]" name="id">Update</button></td>
                    }
                    @{Html.EndForm();
                    }
                </tr>


            }
        }
    </table>



</body>
</html>


