﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860;
*@
@{
}
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor HttpContextAccessor
@using MyLodge.proj1.Areas.Admin.Controllers;
@model MaintenanceView;


<!DOCTYPE html>
<html>
<head>

    <title>
        Room Maintenace Details
    </title>
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrapss.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/base-design.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body style=background-color:beige;>
    <h1 class="head">MyLodge</h1>
    <div class="nav-bar-rect">
        <div class="nav-bar-manager">
            <span>@HttpContextAccessor.HttpContext.Session.GetString("EIS_rendertype").Replace("\"", "")</span>
        </div>
    </div>
    <img class="nav-bar-profile-img" src="~/img/person-24px.svg" alt="profile">
    <div class="nav-bar-profileName">
        <div class="dropdown">
            <button class="dropbtn">@(HttpContextAccessor.HttpContext.Session.GetString("EIS_eid").Replace("\"","") + " - "+ HttpContextAccessor.HttpContext.Session.GetString("EIS_ename").Replace("\"", ""))</button>
            <div class="dropdown-content">
                <a href="@Url.Action("userAcc", "Home", new { area = "Admin" })">Profile</a>
                <a href="@Url.Action("leave", "Home", new { area="Admin"})">Leave Form</a>
                <a href="@Url.Action("Logout", "Home", new { area = "Admin" })">Sign out</a>
            </div>
        </div>
    </div>
    <div class="nav-bar-btn-round">
        <a id="reqMTFromServer" href="@Url.Action("Maintenance", "Mint", new { area = "Admin" })" style="display:none"></a>
        <a id="reqMTAddFromServer" href="@Url.Action("Add", "Mint", new { area = "Admin" })" style="display:none"></a>
        <button onclick="reqMT()">Maintenance Table</button>
        <button onclick="reqMTAdd()">Add New</button>
        <script>
            function reqMT() {
                document.getElementById("reqMTFromServer").click();
            }
            function reqMTAdd() {
                document.getElementById("reqMTAddFromServer").click();
            }
        </script>
    </div>
    <img class="nav-bar-logo" src="~/img/logo.jpg" alt="logo">
    <div class="nav-bar-triangle"></div>
    <br>
    &nbsp;
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <h4>Search Room Maintenance</h4>
                            </div>
                        </div>

                        @using (Html.BeginForm(new { area = "Admin", controller = "Mint", action = "SearchMaint" }))
                        {
                            <div class="row">
                                <div class="col-md-5">

                                    @ViewBag.error
                                    <input class="form-control mr-sm-2" type="number" name="Maintenanceid" placeholder="Maintenance ID" aria-label="Search">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-outline-success " style="background-color:forestgreen" type="submit" name="Login">Search</button>
                                </div>
                            </div>
                        }
                        @{Html.EndForm();}


                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>


                        <div class="row">

                            <label>Maintenance ID  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="Maintenanceid" placeholder="Maintenance ID" value="@Model.Maintenanceid" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Room No        </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-1" name="RoomNo" placeholder="Room No" value="@Model.RoomNo" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Items          </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Items" placeholder="Items" value="@Model.Items" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label>Toiletries      </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Toiletries" placeholder="Toiletries" value="@Model.Toiletries" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <label>Last Clean Date  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="datetime" class="form-control" name="LcleanDate" placeholder="Last Clean Date" value="@Model.LcleanDate" ReadOnly>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <label>Next Clean Date  </label><br />
                            <div class="col">
                                <div class="form-group">
                                    <input type="datetime" class="form-control" name="NcleanDate" placeholder="Next Clean Date" value="@Model.NcleanDate" ReadOnly>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{Html.EndForm();
    }

    <br /><br />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <center>
                        <h4>Generate Customer Report</h4>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <center>
                        @using (Html.BeginForm(new { area = "Admin", controller = "Mint", action = "GetMintTableExcel" }))
                        {
                            <a id="fdlink" download></a>
                            <button id="dbtn" onclick="clickLink()">Download As Excel</button>
                        }
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script>
        function clickLink() {
            document.getElementById("fdlink").click();
        }
    </script>

    </br></br>
    <center>
        <h2><u>Room Maintenace Details</u></h2>
    </center>

    <br>



    <table class="table table-striped">
        <tr class="thead-dark">
            <th>Maintenance ID</th>
            <th>Room Number</th>
            <th>Items need to be replced</th>
            <th>Toiletries</th>
            <th>Last Room Cleaned Date</th>
            <th>Next Room Cleaning due Date</th>
            <th colspan="2"> &nbsp;  &nbsp; &nbsp; &nbsp; Action</th>

        </tr>


        @{
            List<int> c = new List<int>();
            c = Model.GetMaintID();

            List<string> roomNo = new List<string>();
            roomNo = Model.GetmemberReRoomNo();

            List<DateTime> lastclean = new List<DateTime>();
            lastclean = Model.GetmemberReNcleanDate();

            List<DateTime> nextclean = new List<DateTime>();
            nextclean = Model.GetmemberReLcleanDate();

            List<string> toi = new List<string>();
            toi = Model.GetmemberReToiletries();

            List<string> items = new List<string>();
            items = Model.GetmemberReItems();

            int i = 0;
            if (!(roomNo is null))
            {
                i = lastclean.Count;

            }

            for (int e = 0; e < i; e++)

            {

                <tr>
                    <td>@(c[e])</td>
                    <td>@roomNo[e]</td>
                    <td>@items[e]</td>
                    <td>@toi[e]</td>
                    <td>@lastclean[e]</td>
                    <td>@nextclean[e]</td>
                    <!-- <td><input onclick="myFunction()" style="background-color: #ff3333" type="submit" value="Delete" name="delete"></td>-->
                    @using (Html.BeginForm(new { area = "Admin", controller = "Mint", action = "Delete" }))
                    {
                        <input type="text" name="Maintenanceid" value="@c[e]" style="display:none;" />
                        <td> <button style="background-color: red" class="btn btn-primary" id="button3" value="@c[e]" name="DeleteItem">Delete</button></td>
                    }
                    @{Html.EndForm();
                    }

                    @using (Html.BeginForm(new { area = "Admin", controller = "Mint", action = "EditMint" }))
                    {
                        <td><button style="background-color: #5cd65c" class="btn btn-primary" id="button1" value="@c[e]" name="id">Update</button></td>
                    }
                    @{Html.EndForm();
                    }
                </tr>


            }
        }
    </table>



</body>
</html>

