﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>

<head>

    <title>Add Maintenance Details</title>

    <link rel="stylesheet" href="~/css/add.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

</head>

<body style=background-color:beige;>


    <br>

    <img src="~/img/des.png" align="right" width="500" height="400">

    <div>
        @{ Html.BeginForm(new { area = "Admin", controller = "Mint", action = "UpdateMint" });
        }
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <!-- <form action="/action_page.php">-->
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Maintenance ID</label>
                                    <input type="text" class="form-control" id="number" name="Maintenanceid" value="@Model.Maintenanceid" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Room Number</label>
                                    <input type="text" class="form-control" id="number" name="RoomNo" value="@Model.RoomNo">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Items need to be replaced : </label>

                                    <!---   <input type="checkbox" class="form-control" id="item1" name="item1" value="item1">
                                    <label for="vehicle1">Towels</label><br>
                                    <input type="checkbox" class="form-control" id="item2" name="item2" value="item2">
                                    <label for="vehicle2"> Flowers</label><br>
                                    <input type="checkbox" class="form-control" id="item3" name="item3" value="item3">
                                    <label for="vehicle3"> Magazines and Newspapers</label><br><br>
                                    -->

                                    <input type="text" class="form-control" id="items" name="Items" value="@Model.Items"><br>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Toiletries : </label><br />

                                    <input type="radio" id="replace" name="Toiletries" value="Replaced">
                                    <label for="female">Replaced</label><br>
                                    <input type="radio" id="not" name="Toiletries" value="Not Yet">
                                    <label for="other">Not Yet</label>

                                </div>
                            </div>

                            <p><u>Room Cleaning </u></p>
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Last cleaned Date :</label><br><br>
                                    <input type="text" class="form-control" id="date3" name="LcleanDate" value="@Model.LcleanDate"><br><br>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Next cleaning due Date :</label><br><br>
                                    <input type="text" class="form-control" id="date4" name="NcleanDate" value="@Model.NcleanDate"><br><br>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" value="Update Maintenance Details" name="update">Update Maintenance Details</button>
                        <br>
                        @{Html.EndForm();
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>










</body>
</html>