﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<html>

<head>

    <title>Add Customer check-in Details</title>

    <link rel="stylesheet" href="~/css/add.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />

</head>

<body style=background-color:beige;>


    <br>

    <img src="~/img/des.png" align="right" width="500" height="400">

    <div>
        @{ Html.BeginForm(new { area = "Admin", controller = "Cus", action = "UpdateMint" });
        }
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <!-- <form action="/action_page.php">-->
                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Customer ID</label>
                                    <input type="text" class="form-control" id="number" name="custId" value="@Model.custId" readonly>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Customer Name</label>
                                    <input type="text" class="form-control" id="number" name="custName" value="@Model.custName">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Room Number</label>
                                    <input type="text" class="form-control" id="number" name="RoomNo" value="@Model.RoomNo">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="number">Phone Number</label>
                                    <input type="text" class="form-control" id="number" name="phoneNo" value="@Model.phoneNo">
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Check In Date :</label><br><br>
                                    <input type="date" class="form-control" id="date1" name="checkdate" value="@Model.checkdate" placeholder="Enter the check-in date"><br><br>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    <label for="date3">Check Out Date :</label><br><br>
                                    <input type="date" class="form-control" id="date2" name="checkOdate" value="@Model.checkOdate" placeholder="Enter the check-out date"><br><br>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" value="Update Customer Check-In Details" name="update">Update Maintenance Details</button>
                        <br>
                        @{Html.EndForm();
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>










</body>
</html>